<div>
  <h3 class="title">焊接记录输入</h3>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="16" nzType="flex">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="prodno">产品编号</nz-form-label>
          <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="产品编号"  formControlName="prodno" name="prodno" id="prodno" (ngModelChange)="searchData()">
            <nz-option *ngFor="let option of prodnos" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="prodname">产品名称</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="产品名称"  formControlName="prodname" name="prodname" id="prodname" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="dwgno">图号</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="图号"  formControlName="dwgno" name="dwgno" id="dwgno" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="weldno">焊缝编号</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="焊缝编号"  formControlName="weldno" name="weldno" id="weldno"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="weldevano">焊接工艺评定编号</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="焊接工艺评定编号"  formControlName="weldevano" name="weldevano" id="weldevano"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="weldmethod">焊接方法</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="焊接方法"  formControlName="weldmethod" name="weldmethod" id="weldmethod"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="usernote">焊工姓名（钢印）</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="焊工姓名（钢印）"  formControlName="usernote" name="usernote" id="usernote">
            <nz-option *ngFor="let option of names" [nzLabel]="option.name" [nzValue]="option.note"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="welddate">施焊日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="YYYY-MM-DD"  formControlName="welddate" name="welddate" id="welddate" (blur)="formatInDate(this.validateForm.controls['welddate']);check();"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="inspector">检验员</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="检验员"  formControlName="inspector" name="inspector" id="inspector">
            <nz-option *ngFor="let option of names" [nzLabel]="option.name" [nzValue]="option.username"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="entrustdate">委托日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="YYYY-MM-DD"  formControlName="entrustdate" name="entrustdate" id="entrustdate" (blur)="formatInDate(this.validateForm.controls['entrustdate']);check();"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="ndtdate">无损检验日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="YYYY-MM-DD"  formControlName="ndtdate" name="ndtdate" id="ndtdate" (blur)="formatInDate(this.validateForm.controls['ndtdate']);check();"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div style="text-align:center;margin-top: 20px">
    <button nz-button nzType="primary" (click)="submitForm()">提交</button>
  </div>
</form>
