<div nz-row>
  <div nz-col nzSpan="24">
    <nz-card style="border-radius: 10px;margin-bottom: 20px">
      <h1>{{_storage.get("username")}}，欢迎使用本系统！</h1>
    </nz-card>
  </div>
</div>
<div nz-row nzGutter="16">
  <div nz-col nzSpan="12">
    <div nz-row>
        <div nz-col nzSpan="12">
          <nz-card style="border-radius: 10px;background-color: #fa8c16!important">
            <h1 style="color:#fff!important;">12</h1>
            <h3 style="color:#fff!important;">待审核报表</h3>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card style="border-radius: 10px;background-color: #eb2f96!important">
            <h1 style="color:#fff!important;">123,456</h1>
            <h3 style="color:#fff!important;">Website Traffics</h3>
          </nz-card>
      </div>
    </div>
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-card style="border-radius: 10px;background-color: #52c41a!important">
          <h1 style="color:#fff!important;">12</h1>
          <h3 style="color:#fff!important;">待审核报表</h3>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card style="border-radius: 10px;background-color: #1890ff!important;">
          <h1 style="color:#fff!important;">123,456</h1>
          <h3 style="color:#fff!important;">Website Traffics</h3>
        </nz-card>
      </div>
    </div>
  </div>
  <div nz-col nzSpan="12">
    <nz-card>
      <nz-calendar nzCard></nz-calendar>
    </nz-card>
  </div>
</div>
