<div class="header">
  <div class="button" (click)="toggleCollapsed()" [nzMouseEnterDelay]="1" nzPlacement="bottom" nz-tooltip [nzTitle]="settings.layout.isCollapsed?'展开左侧菜单':'收起左侧菜单'">
    <i nz-icon type="menu-{{settings.layout.isCollapsed?'unfold':'fold'}}"></i>
  </div>
  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
    <ng-container *ngFor="let nav of navs;let i = index">
      <li nz-menu-item [nzSelected]="nav.name == getSettingNav()" *ngIf="menuShowIfSubmenu(nav)" (click)="setNav(nav.name.toString())">{{nav.name.toString()}}</li>
    </ng-container>
  </ul>
  <div class="rightWarpper">
    <div class="buttonR" [ngStyle]="{'width':searchstatus ? '200px' : '44px' ,'padding-left':searchstatus ? '10px' : '0' ,'padding-right':searchstatus ? '10px' : '0' }" (click)="searchstatus = flag;flag = true">
      <i nz-icon type="search" theme="outline" *ngIf="!searchstatus" nzPlacement="bottom" nzTitle="输入文字进行功能快速检索" nz-tooltip></i>
      <nz-input-group [nzSuffix]="suffixIconSearch" *ngIf="searchstatus" style="height: 33px;">
        <nz-select nz-input nzPlaceHolder="功能快速检索" nzShowSearch [nzShowArrow]="false" [(ngModel)]="route" nzAutoFocus nzNotFoundContent="未找到该功能" nzAllowClear>
          <nz-option-group *ngFor="let nav of navs" [nzLabel]="nav.name">
            <ng-container *ngIf="menuShowIfSubmenu(nav)">
              <ng-container *ngFor="let o of nav.data">
                <nz-option *ngIf="!o.submenu && o.name!='首页' && showByRouter(o.route)" [nzLabel]="o.name" [nzValue]="o.route"> </nz-option>
                <ng-container *ngIf="o.submenu && menuShowIfSubmenu(o)">
                  <ng-container *ngFor="let item of o.submenu">
                    <nz-option *ngIf="showByRouter(item.route)" [nzLabel]="item.name" [nzValue]="item.route"> </nz-option>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ng-container>
          </nz-option-group>
          <nz-option-group nzLabel="其他">
            <nz-option nzLabel="个人资料" nzValue="/profile"> </nz-option>
            <nz-option nzLabel="修改密码" nzValue="/changePassword"> </nz-option>
          </nz-option-group>
        </nz-select>
      </nz-input-group>
      <ng-template #suffixIconSearch>
          <i nz-icon nzType="arrow-right" nzTheme="outline" (click)="flag = false;this.router.navigate([route]);updateMenu();"></i>
      </ng-template>

    </div>
      <div class="buttonR" nz-popover nzTitle="通知" [nzContent]="notices" nzTrigger="click" nzPlacement="bottom">
          <i nz-icon type="bell" theme="outline"></i>
      </div>
    <nz-dropdown class="drop" style="margin-right: 20px" nzPlacement="bottom">
      <a class="menu" nz-dropdown>
        <span title><i nz-icon type="user" style="margin-right: 10px;"></i>{{ _storage.get("name") }}</span>
      </a>
      <ul nz-menu nzSelectable style="width: 160px;text-align: center">
        <li nz-menu-item (click)="router.navigate(['/profile']);">
          <i nz-icon type="solution" theme="outline"></i>个人资料</li>
        <li nz-menu-item (click)="router.navigate(['/changePassword']);">
          <i nz-icon type="setting" theme="outline"></i>修改密码</li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="signOut()">
          <i nz-icon type="logout" theme="outline"></i>注销</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<ng-template #notices>
  <nz-empty nzNotFoundContent="暂无通知"></nz-empty>
</ng-template>
