<div class="header">
  <div class="button" (click)="toggleCollapsed()" [nzMouseEnterDelay]="1" nzPlacement="bottom" nz-tooltip [nzTitle]="settings.layout.isCollapsed?'展开左侧菜单':'收起左侧菜单'">
    <i nz-icon type="menu-{{settings.layout.isCollapsed?'unfold':'fold'}}"></i>
  </div>
  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
    <ng-container *ngFor="let nav of navs;let i = index">
      <li nz-menu-item [nzSelected]="nav.name == getSettingNav()" (click)="setNav(nav.name.toString())">{{nav.name.toString()}}</li>
    </ng-container>
  </ul>
  <div class="rightWarpper">
    <div class="buttonR" [ngStyle]="{'width':searchstatus ? '150px' : '44px' }" onblur="searchstatus = false">
      <i nz-icon type="search" theme="outline" *ngIf="!searchstatus" (click)="searchstatus = true"></i>
      <nz-input-group [nzSuffix]="suffixIconSearch" *ngIf="searchstatus">
        <input type="text" nz-input placeholder="请输入搜索内容" (blur)="searchstatus = false">
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>
      <div class="buttonR" nz-popover nzTitle="通知" [nzContent]="notices" nzTrigger="click" nzPlacement="bottom">
          <i nz-icon type="bell" theme="outline"></i>
      </div>
    <nz-dropdown class="drop" style="margin-right: 20px" nzPlacement="bottom">
      <a class="menu" nz-dropdown>
        <span title><i nz-icon type="user" style="margin-right: 10px;"></i>{{ _storage.get("username") }}</span>
      </a>
      <ul nz-menu nzSelectable style="width: 160px;text-align: center">
        <li nz-menu-item (click)="router.navigate(['/profile']);">
          <i nz-icon type="solution" theme="outline"></i>个人资料</li>
        <li nz-menu-item (click)="router.navigate(['/changePassword']);">
          <i nz-icon type="setting" theme="outline"></i>修改密码</li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="signOut()">
          <i nz-icon type="logout" theme="outline"></i>注销</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<ng-template #notices>
  <nz-empty nzNotFoundContent="暂无通知"></nz-empty>
</ng-template>
