<div class="header">
  <div class="button" (click)="toggleCollapsed()" [nzMouseEnterDelay]="1" nzPlacement="bottom" nz-tooltip [nzTitle]="settings.layout.isCollapsed?'展开左侧菜单':'收起左侧菜单'">
    <i nz-icon type="menu-{{settings.layout.isCollapsed?'unfold':'fold'}}"></i>
  </div>
  <ul nz-menu [nzMode]="'horizontal'" style="line-height: 64px;">
    <ng-container *ngFor="let nav of navs;let i = index">
      <li nz-menu-item [nzSelected]="nav.name == getSettingNav()" *ngIf="menuShowIfSubmenu(nav)" (click)="setNav(nav.name.toString());">{{nav.name.toString()}}</li>
    </ng-container>
  </ul>
  <div class="rightWarpper">
    <div class="buttonR" [ngStyle]="{'width':searchstatus ? '200px' : '44px' ,'padding-left':searchstatus ? '10px' : '0' ,'padding-right':searchstatus ? '10px' : '0' }" (click)="searchstatus = flag;flag = true">
      <i nz-icon type="search" theme="outline" *ngIf="!searchstatus" nzPlacement="bottom" nzTitle="输入文字进行功能快速检索" nz-tooltip></i>
      <nz-input-group [nzSuffix]="suffixIconSearch" *ngIf="searchstatus" style="height: 33px;">
        <nz-select nz-input nzPlaceHolder="功能快速检索" nzShowSearch [nzShowArrow]="false" [(ngModel)]="route" nzAutoFocus nzNotFoundContent="未找到该功能" nzAllowClear>
          <ng-container *ngFor="let nav of navs">
            <nz-option-group *ngIf="menuShowIfSubmenu(nav)" [nzLabel]="nav.name">
              <ng-container *ngIf="menuShowIfSubmenu(nav)">
                <ng-container *ngFor="let o of nav.data">
                  <nz-option *ngIf="!o.submenu && o.name!='首页' && showByRouter(o.route)" [nzLabel]="o.name" [nzValue]="o.route"> </nz-option>
                  <ng-container *ngIf="o.submenu && menuShowIfSubmenu(o)">
                    <ng-container *ngFor="let item of o.submenu">
                      <nz-option *ngIf="showByRouter(item.route)" [nzLabel]="item.name" [nzValue]="item.route"> </nz-option>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </nz-option-group>
          </ng-container>
          <nz-option-group nzLabel="其他">
            <nz-option nzLabel="个人资料" nzValue="/profile"> </nz-option>
            <nz-option nzLabel="修改密码" nzValue="/changePassword"> </nz-option>
          </nz-option-group>
        </nz-select>
      </nz-input-group>
      <ng-template #suffixIconSearch>
          <i nz-icon nzType="arrow-right" nzTheme="outline" (click)="flag = false;this.router.navigate([route]);updateMenu();"></i>
      </ng-template>

    </div>
      <div class="buttonR" nz-popover [nzTitle]="titleTemplate" [nzContent]="notices" nzTrigger="click" nzPlacement="bottom" (click)="getMessage()">
        <nz-badge [nzCount]="unreadmessagelist.length">
          <i nz-icon type="bell" theme="outline" style="font-size: 18px;"></i>
        </nz-badge>
      </div>
    <nz-dropdown class="drop" style="margin-right: 20px" nzPlacement="bottom">
      <a class="menu" nz-dropdown>
        <span title><i nz-icon type="user" style="margin-right: 10px;"></i>{{ _storage.get("name") }}</span>
      </a>
      <ul nz-menu nzSelectable style="width: 160px;text-align: center">
        <li nz-menu-item (click)="router.navigate(['/profile/me']);">
          <i nz-icon type="solution" theme="outline"></i>个人资料</li>
        <li nz-menu-item (click)="router.navigate(['/profile/changePassword']);">
          <i nz-icon type="setting" theme="outline"></i>修改密码</li>
        <li nz-menu-divider></li>
        <li nz-menu-item (click)="signOut()">
          <i nz-icon type="logout" theme="outline"></i>注销</li>
      </ul>
    </nz-dropdown>
  </div>
</div>
<ng-template #notices>
  <div style="max-height: 400px;overflow-y: auto;max-width: 350px;padding: 5px">

    <nz-list [nzItemLayout]="'vertical'" [nzDataSource]="messagelist" [nzRenderItem]="item" [nzSplit]="true" *ngIf="!onlyUnRead">
      <ng-template #item let-item>
          <nz-list-item [nzContent]="item.isread==1?'已读 '+item.date+' - '+item.send_user:'未读 '+item.date+' - '+item.send_user" [nzActions]="[action]">
            <ng-template #action>
              <a (click)="setRead(item.id)" *ngIf="item.isread==0">设为已读</a>
              <nz-divider nzType="vertical" *ngIf="item.isread==0"></nz-divider>
              <a (click)="deleteMessage(item.id)">删除通知</a>
            </ng-template>
            <nz-badge [nzDot]="item.isread==0">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="item.content"
            >
                <ng-template #nzTitle>
                  {{ item.title }}
                </ng-template>
            </nz-list-item-meta>
            </nz-badge>
          </nz-list-item>
      </ng-template>
    </nz-list>

    <nz-list [nzItemLayout]="'vertical'" [nzDataSource]="unreadmessagelist" [nzRenderItem]="item" [nzSplit]="true" *ngIf="onlyUnRead">
      <ng-template #item let-item>
        <nz-list-item [nzContent]="item.isread==1?'已读 '+item.date+' - '+item.send_user:'未读 '+item.date+' - '+item.send_user" [nzActions]="[action]">
          <ng-template #action>
            <a (click)="setRead(item.id)" *ngIf="item.isread==0">设为已读</a>
            <nz-divider nzType="vertical" *ngIf="item.isread==0"></nz-divider>
            <a (click)="deleteMessage(item.id)">删除通知</a>
          </ng-template>
          <nz-badge [nzDot]="item.isread==0">
            <nz-list-item-meta
              [nzTitle]="nzTitle"
              [nzDescription]="item.content"
            >
              <ng-template #nzTitle>
                {{ item.title }}
              </ng-template>
            </nz-list-item-meta>
          </nz-badge>
        </nz-list-item>
      </ng-template>
    </nz-list>
  </div>
</ng-template>

<ng-template #titleTemplate>
  <p>通知
    <span style="float: right;margin-left: 20px;">隐藏已读：
      <nz-switch [(ngModel)]="onlyUnRead"></nz-switch>
    </span>
  </p>
</ng-template>
