@import "../../themes/index";
.header {
  :global .ant-menu-horizontal {
    border: none;
    display: inline-block;
  }
  box-shadow: @shadow-2;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #fff;
  z-index: 999;

  .rightWarpper {
    display: flex;
    padding-right: 16px;
  }

  .button {
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: @transition-ease-in;

    &:hover {
      color: #008dff;
      background-color: fade(#008dff, 15%);
    }
  }

  .buttonR {
    width: 44px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    font-size: 18px;
    outline:none;
    cursor: pointer;
    transition: @transition-ease-in;

    &:hover {
      color: #008dff;
      background-color: fade(#008dff, 15%);
    }
  }
  .menu{
    font-size:14px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 64px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s;
    color:#3e3e3e;
    &:hover{
      color: #008dff;
      background-color: fade(#008dff, 15%);
    }
  }
  .menu i{
    font-size: 20px!important;
  }
  .drop li{
    width: 100%;padding:5px 20px 5px 20px;text-align: center
  }
}
.ant-menu-horizontal[_ngcontent-c3] {
  border: 0!important;
}
.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.more-link {
  float: right;
}
:host ::ng-deep.ant-select-selection{
  border: none;height:31px;border-radius: 4px 0 0 4px;
}
