<div>
  <h3 class="title">入库材料审核</h3>
</div>
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="codedmarking">入库编号</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select nzMode="default" formControlName="codedmarking" name="codedmarking" id="codedmarking" nzShowSearch nzAllowClear nzPlaceHolder="入库编号">
            <nz-option *ngFor="let option of codedmarkings" [nzLabel]="option.codedmarking" [nzValue]="option.codedmarking"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="matlname">材料名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select formControlName="matlname" name="matlname" id="matlname" nzPlaceHolder="材料名称" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of this.matlname" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="designation">牌号</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input nz-input placeholder="牌号" formControlName="designation" name="designation" id="designation" >
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="spec">规格</nz-form-label>
        <nz-form-control [nzSm]="14">
          <div class="spec-input">
            <input placeholder="规格" nz-input  formControlName="spec" name="spec" id="spec" (input)="onSpecInput($event.target?.value)" (click)="onSpecInput($event.target?.value)" [nzAutocomplete]="specauto">
            <nz-autocomplete nzBackfill #specauto>
              <nz-auto-option *ngFor="let option of specs" [nzValue]="option">
                {{option}}
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="millunit">生产单位</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select nzMode="default" formControlName="millunit" name="millunit" id="millunit" nzShowSearch nzAllowClear nzPlaceHolder="生产单位">
            <nz-option *ngFor="let option of millunits" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="indate">入库日期</nz-form-label>
        <nz-form-control [nzSm]="14">
      <input nz-input formControlName="indate" name="indate" placeholder="YYYY-MM-DD或MM-DD" type="text" id="indate" (blur)="formatInDate()">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8" nzOffset="16">
      <div nz-col nzSpan="8">
        <button nz-button [nzType]="'primary'" (click)="searchData(true)">查询</button>
      </div>
      <div nz-col nzSpan="8">
        <button nz-button (click)="resetForm()">重置</button>
      </div>
    </div>
  </div>
</form>
<div style="margin-top: 30px;">
  <nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataset"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageindex"
    [(nzPageSize)]="pagesize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)" nzShowQuickJumper nzShowTotal nzHideOnSinglePage>
    <thead>
    <tr>
      <th nzShowExpand></th>
      <th>登记人</th>
      <th>入库编号</th>
      <th>材料名称</th>
      <th>牌号</th>
      <th>规格</th>
      <th>生产单位</th>
      <th style="min-width: 60px">数量</th>
      <th>供货单位</th>
      <th style="min-width: 110px">操作</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
      <tr>
        <td nzShowExpand [(nzExpand)]="data.expand"></td>
        <td>{{data.user}}</td>
        <td>{{data.codedmarking}}</td>
        <td>{{data.matlname}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.spec}}</td>
        <td>{{data.millunit}}</td>
        <td>{{data.qty}}</td>
        <td>{{data.supplier}}</td>
        <td>
          <a (click)="Audit(data.codedmarking,1)">通过</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="Audit(data.codedmarking,2)">不通过</a>
        </td>
      </tr>
      <tr [nzExpand]="data.expand">
        <td></td>
        <td colspan="10">
          <div nz-row nzType="flex" nzJustify="start" nzAlign="top">
            <div nz-col nzSpan="4" *ngIf="data.warrantysitu!=null"><strong>质保书情况：</strong>{{data.warrantysitu}}</div>
            <div nz-col nzSpan="4" *ngIf="data.note!=null"><strong>备注：</strong>{{data.note}}</div>
            <div nz-col nzSpan="4" *ngIf="data.indate!=null"><strong>入库日期：</strong>{{data.indate}}</div>
            <div nz-col nzSpan="4" *ngIf="data.warrantyno!=null"><strong>质保书号：</strong>{{data.warrantyno}}</div>
            <div nz-col nzSpan="4" *ngIf="data.matlstand!=null"><strong>材料标准号：</strong>{{data.matlstand}}</div>
            <div nz-col nzSpan="4" *ngIf="data.modelstand!=null"><strong>型号标准号：</strong>{{data.modelstand}}</div>
            <div nz-col nzSpan="4" *ngIf="data.unit!=null"><strong>数量单位：</strong>{{data.unit}}</div>
            <div nz-col nzSpan="4" *ngIf="data.dimension!=null"><strong>尺寸：</strong>{{data.dimension}}</div>
            <div nz-col nzSpan="4" *ngIf="data.heatbatchno!=null"><strong>炉批号：</strong>{{data.heatbatchno}}</div>
            <div nz-col nzSpan="4" *ngIf="data.c!=null"><strong>C：</strong>{{data.c}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.s!=null"><strong>S：</strong>{{data.s}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.mn!=null"><strong>Mn：</strong>{{data.mn}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.cu!=null"><strong>Cu：</strong>{{data.cu}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.ni!=null"><strong>Ni：</strong>{{data.ni}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.cr!=null"><strong>Cr：</strong>{{data.cr}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.mo!=null"><strong>Mo：</strong>{{data.mo}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.nb!=null"><strong>Nb：</strong>{{data.nb}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.v!=null"><strong>V：</strong>{{data.v}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.ti!=null"><strong>Ti：</strong>{{data.ti}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.als!=null"><strong>ALs：</strong>{{data.als}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.alt!=null"><strong>ALt：</strong>{{data.alt}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.n!=null"><strong>N：</strong>{{data.n}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.fe!=null"><strong>Fe：</strong>{{data.fe}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.mg!=null"><strong>Mg：</strong>{{data.mg}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.zn!=null"><strong>Zn：</strong>{{data.zn}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.b!=null"><strong>B：</strong>{{data.b}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.w!=null"><strong>W：</strong>{{data.w}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.sb!=null"><strong>Sb：</strong>{{data.sb}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.al!=null"><strong>Al：</strong>{{data.al}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.zr!=null"><strong>Zr：</strong>{{data.zr}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.ca!=null"><strong>Ca：</strong>{{data.ca}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.be!=null"><strong>Be：</strong>{{data.be}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.p!=null"><strong>P：</strong>{{data.p}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.si!=null"><strong>Si：</strong>{{data.si}}%</div>
            <div nz-col nzSpan="4" *ngIf="data.heatcondi!=null"><strong>热处理状态：</strong>{{data.heatcondi}}</div>
            <div nz-col nzSpan="4" *ngIf="data.rel1!=null"><strong>屈服强度1：</strong>{{data.rel1}}</div>
            <div nz-col nzSpan="4" *ngIf="data.rel2!=null"><strong>屈服强度2：</strong>{{data.rel2}}</div>
            <div nz-col nzSpan="4" *ngIf="data.rm1!=null"><strong>抗拉强度1：</strong>{{data.rm1}}</div>
            <div nz-col nzSpan="4" *ngIf="data.rm2!=null"><strong>抗拉强度2：</strong>{{data.rm2}}</div>
            <div nz-col nzSpan="4" *ngIf="data.elong1!=null"><strong>延长率1：</strong>{{data.elong1}}</div>
            <div nz-col nzSpan="4" *ngIf="data.elong2!=null"><strong>延长率2：</strong>{{data.elong2}}</div>
            <div nz-col nzSpan="4" *ngIf="data.hardness1!=null"><strong>硬度1：</strong>{{data.hardness1}}</div>
            <div nz-col nzSpan="4" *ngIf="data.hardness2!=null"><strong>硬度2：</strong>{{data.hardness2}}</div>
            <div nz-col nzSpan="4" *ngIf="data.hardness3!=null"><strong>硬度3：</strong>{{data.hardness3}}</div>
            <div nz-col nzSpan="4" *ngIf="data.impactp1!=null"><strong>冲击功1：</strong>{{data.impactp1}}</div>
            <div nz-col nzSpan="4" *ngIf="data.impactp2!=null"><strong>冲击功2：</strong>{{data.impactp2}}</div>
            <div nz-col nzSpan="4" *ngIf="data.impactp3!=null"><strong>冲击功3：</strong>{{data.impactp3}}</div>
            <div nz-col nzSpan="4" *ngIf="data.impacttemp!=null"><strong>冲击温度：</strong>{{data.impacttemp}}</div>
            <div nz-col nzSpan="4" *ngIf="data.bendangle!=null"><strong>弯曲角度：</strong>{{data.bendangle}}</div>
            <div nz-col nzSpan="4" *ngIf="data.bendaxdia!=null"><strong>弯曲直径：</strong>{{data.bendaxdia}}a</div>
            <div nz-col nzSpan="4" *ngIf="data.utclass!=null"><strong>超声波级别：</strong>{{utclass[data.utclass]}}</div>
          </div>
        </td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
