<div class="layout {{settings.layout.isCollapsed?'fold':'unfold'}}">
  <app-sider></app-sider>
  <div class="main">
    <app-header></app-header>
    <div *ngIf="settings.menuStatus">
      <app-bread></app-bread>
      <div class="container">
        <div class="content">
          <div class="contentInner">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
      <nz-footer style="text-align: center;">企业质量管理系统 Copyright © 2019 雷恩博科技出品</nz-footer>
    </div>
  </div>
</div>
