<div>
  <h3 class="title">材料复验登记</h3>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="16" nzType="flex">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="codedmarking">入库编号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="请选择入库编号"  formControlName="codedmarking" name="codedmarking" id="codedmarking" (ngModelChange)="getInfoCompleted()">
            <nz-option *ngFor="let option of codedmarkings" [nzLabel]="option.codedmarking" [nzValue]="option.codedmarking"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="designation">牌号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input placeholder="牌号" formControlName="designation" name="designation" id="designation" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="stand">材料标准</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input placeholder="材料标准" formControlName="stand" name="stand" id="stand" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="spec">规格</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input placeholder="规格" formControlName="spec" name="spec" id="spec" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
  <div *ngIf="dataDetail.status">
    <nz-divider></nz-divider>
    <div *ngFor="let rematl of rematerialForms;let i = index">
      <nz-collapse [nzBordered]="false">
        <nz-collapse-panel [nzHeader]="'复验日期'+(i+1)" [nzActive]="i==0">
          <form nz-form [formGroup]="this.rematerialForms[i]">
            <div nz-row [nzGutter]="4" nzType="flex">
              <div nz-col nzSpan="4">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="indate">复验日期</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <input nz-input placeholder="复验日期" formControlName="indate" name="indate" id="indate"  (blur)="formatInDate(rematl.controls['indate'])"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <p style="margin-top: 5px;margin-bottom: 0" *ngIf="chemicalcomposition"><strong>元素含量</strong></p>
            <div nz-row [nzGutter]="4" nzType="flex">
              <div nz-col nzSpan="3" *ngIf="dataDetail['c'].max!==null||dataDetail['c'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="c">C%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="c" name="c" id="c" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['c'].max == 99999 ? '≥' + dataDetail['c'].min : dataDetail['c'].min + '≤' + 'C%' + '≤' +dataDetail['c'].max" (nzBlur)="MaxMinJudge(rematl,'c')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('c').dirty&&rematl.get('c').errors">
                      <ng-container *ngIf="rematl.get('c').hasError('required')">
                        C%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('c').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['si'].max!==null||dataDetail['si'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="si">Si%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="si" name="si" id="si" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['si'].max == 99999 ? '≥' + dataDetail['si'].min : dataDetail['si'].min + '≤' + 'Si%' + '≤' +dataDetail['si'].max" (ngModelChange)="MaxMinJudge(rematl,'si')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('si').dirty&&rematl.get('si').errors">
                      <ng-container *ngIf="rematl.get('si').hasError('required')">
                        Si%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('si').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['mn'].max!==null||dataDetail['mn'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="mn">Mn%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="mn" name="mn" id="mn" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['mn'].max == 99999 ? '≥' + dataDetail['mn'].min : dataDetail['mn'].min + '≤' + 'Mn%' + '≤' +dataDetail['mn'].max" (ngModelChange)="MaxMinJudge(rematl,'mn')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('mn').dirty&&rematl.get('mn').errors">
                      <ng-container *ngIf="rematl.get('mn').hasError('required')">
                        Mn%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('mn').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['cu'].max!==null||dataDetail['cu'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="cu">Cu%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="cu" name="cu" id="cu" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['cu'].max == 99999 ? '≥' + dataDetail['cu'].min : dataDetail['cu'].min + '≤' + 'Cu%' + '≤' +dataDetail['cu'].max" (ngModelChange)="MaxMinJudge(rematl,'cu')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('cu').dirty&&rematl.get('cu').errors">
                      <ng-container *ngIf="rematl.get('cu').hasError('required')">
                        Cu%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('cu').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['ni'].max!==null||dataDetail['ni'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="ni">Ni%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="ni" name="ni" id="ni" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ni'].max == 99999 ? '≥' + dataDetail['ni'].min : dataDetail['ni'].min + '≤' + 'Ni%' + '≤' +dataDetail['ni'].max" (ngModelChange)="MaxMinJudge(rematl,'ni')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('ni').dirty&&rematl.get('ni').errors">
                      <ng-container *ngIf="rematl.get('ni').hasError('required')">
                        Ni%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('ni').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['cr'].max!==null||dataDetail['cr'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="cr">Cr%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="cr" name="cr" id="cr" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['cr'].max == 99999 ? '≥' + dataDetail['cr'].min : dataDetail['cr'].min + '≤' + 'Cr%' + '≤' +dataDetail['cr'].max" (ngModelChange)="MaxMinJudge(rematl,'cr')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('cr').dirty&&rematl.get('cr').errors">
                      <ng-container *ngIf="rematl.get('cr').hasError('required')">
                        Cr%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('cr').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['mo'].max!==null||dataDetail['mo'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="mo">Mo%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="mo" name="mo" id="mo" [nzStep]="0.001"[nzPlaceHolder]="dataDetail['mo'].max == 99999 ? '≥' + dataDetail['mo'].min : dataDetail['mo'].min + '≤' + 'Mo%' + '≤' +dataDetail['mo'].max" (ngModelChange)="MaxMinJudge(rematl,'mo')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('mo').dirty&&rematl.get('mo').errors">
                      <ng-container *ngIf="rematl.get('mo').hasError('required')">
                        Mo%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('mo').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['nb'].max!==null||dataDetail['nb'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="nb">Nb%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="nb" name="nb" id="nb" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['nb'].max == 99999 ? '≥' + dataDetail['nb'].min : dataDetail['nb'].min + '≤' + 'Nb%' + '≤' +dataDetail['nb'].max" (ngModelChange)="MaxMinJudge(rematl,'nb')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('nb').dirty&&rematl.get('nb').errors">
                      <ng-container *ngIf="rematl.get('nb').hasError('required')">
                        Nb%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('nb').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['v'].max!==null||dataDetail['v'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="v">V%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="v" name="v" id="v" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['v'].max == 99999 ? '≥' + dataDetail['v'].min : dataDetail['v'].min + '≤' + 'V%' + '≤' +dataDetail['v'].max" (ngModelChange)="MaxMinJudge(rematl,'v')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('v').dirty&&rematl.get('v').errors">
                      <ng-container *ngIf="rematl.get('v').hasError('required')">
                        V%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('v').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['ti'].max!==null||dataDetail['ti'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="ti">Ti%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="ti" name="ti" id="ti" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ti'].max == 99999 ? '≥' + dataDetail['ti'].min : dataDetail['ti'].min + '≤' + 'Ti%' + '≤' +dataDetail['ti'].max" (ngModelChange)="MaxMinJudge(rematl,'ti')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('ti').dirty&&rematl.get('ti').errors">
                      <ng-container *ngIf="rematl.get('ti').hasError('required')">
                        Ti%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('ti').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['als'].max!==null||dataDetail['als'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="als">ALs%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="als" name="als" id="als" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['als'].max == 99999 ? '≥' + dataDetail['als'].min : dataDetail['als'].min + '≤' + 'ALs%' + '≤' +dataDetail['als'].max" (ngModelChange)="MaxMinJudge(rematl,'als')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('als').dirty&&rematl.get('als').errors">
                      <ng-container *ngIf="rematl.get('als').hasError('required')">
                        ALs%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('als').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['alt'].max!==null||dataDetail['alt'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="alt">ALt%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="alt" name="alt" id="alt" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['alt'].max == 99999 ? '≥' + dataDetail['alt'].min : dataDetail['alt'].min + '≤' + 'ALt%' + '≤' +dataDetail['alt'].max" (ngModelChange)="MaxMinJudge(rematl,'alt')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('alt').dirty&&rematl.get('alt').errors">
                      <ng-container *ngIf="rematl.get('alt').hasError('required')">
                        ALt%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('alt').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['n'].max!==null||dataDetail['n'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="n">N%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="n" name="n" id="n" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['n'].max == 99999 ? '≥' + dataDetail['n'].min : dataDetail['n'].min + '≤' + 'N%' + '≤' +dataDetail['n'].max" (ngModelChange)="MaxMinJudge(rematl,'n')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('n').dirty&&rematl.get('n').errors">
                      <ng-container *ngIf="rematl.get('n').hasError('required')">
                        N%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('n').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['fe'].max!==null||dataDetail['fe'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="fe">Fe%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="fe" name="fe" id="fe" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['fe'].max == 99999 ? '≥' + dataDetail['fe'].min : dataDetail['fe'].min + '≤' + 'Fe%' + '≤' +dataDetail['fe'].max" (ngModelChange)="MaxMinJudge(rematl,'fe')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('fe').dirty&&rematl.get('fe').errors">
                      <ng-container *ngIf="rematl.get('fe').hasError('required')">
                        Fe%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('fe').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['mg'].max!==null||dataDetail['mg'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="mg">Mg%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="mg" name="mg" id="mg" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['mg'].max == 99999 ? '≥' + dataDetail['mg'].min : dataDetail['mg'].min + '≤' + 'Mg%' + '≤' +dataDetail['mg'].max" (ngModelChange)="MaxMinJudge(rematl,'mg')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('mg').dirty&&rematl.get('mg').errors">
                      <ng-container *ngIf="rematl.get('mg').hasError('required')">
                        Mg%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('mg').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['zn'].max!==null||dataDetail['zn'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="zn">Zn%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="zn" name="zn" id="zn" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['zn'].max == 99999 ? '≥' + dataDetail['zn'].min : dataDetail['zn'].min + '≤' + 'Zn%' + '≤' +dataDetail['zn'].max" (ngModelChange)="MaxMinJudge(rematl,'zn')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('zn').dirty&&rematl.get('zn').errors">
                      <ng-container *ngIf="rematl.get('zn').hasError('required')">
                        Zn%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('zn').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['b'].max!==null||dataDetail['b'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="b">B%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="b" name="b" id="b" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['b'].max == 99999 ? '≥' + dataDetail['b'].min : dataDetail['b'].min + '≤' + 'B%' + '≤' +dataDetail['b'].max" (ngModelChange)="MaxMinJudge(rematl,'b')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('b').dirty&&rematl.get('b').errors">
                      <ng-container *ngIf="rematl.get('b').hasError('required')">
                        B%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('b').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['w'].max!==null||dataDetail['w'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="w">W%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="w" name="w" id="w" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['w'].max == 99999 ? '≥' + dataDetail['w'].min : dataDetail['w'].min + '≤' + 'W%' + '≤' +dataDetail['w'].max" (ngModelChange)="MaxMinJudge(rematl,'w')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('w').dirty&&rematl.get('w').errors">
                      <ng-container *ngIf="rematl.get('w').hasError('required')">
                        W%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('w').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['sb'].max!==null||dataDetail['sb'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="sb">Sb%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="sb" name="sb" id="sb" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['sb'].max == 99999 ? '≥' + dataDetail['sb'].min : dataDetail['sb'].min + '≤' + 'Sb%' + '≤' +dataDetail['sb'].max" (ngModelChange)="MaxMinJudge(rematl,'sb')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('sb').dirty&&rematl.get('sb').errors">
                      <ng-container *ngIf="rematl.get('sb').hasError('required')">
                        Sb%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('sb').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['al'].max!==null||dataDetail['al'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="al">Al%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="al" name="al" id="al" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['al'].max == 99999 ? '≥' + dataDetail['al'].min : dataDetail['al'].min + '≤' + 'Al%' + '≤' +dataDetail['al'].max" (ngModelChange)="MaxMinJudge(rematl,'al')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('al').dirty&&rematl.get('al').errors">
                      <ng-container *ngIf="rematl.get('al').hasError('required')">
                        Al%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('al').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['zr'].max!==null||dataDetail['zr'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="zr">Zr%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="zr" name="zr" id="zr" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['zr'].max == 99999 ? '≥' + dataDetail['zr'].min : dataDetail['zr'].min + '≤' + 'Zr%' + '≤' +dataDetail['zr'].max" (ngModelChange)="MaxMinJudge(rematl,'zr')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('zr').dirty&&rematl.get('zr').errors">
                      <ng-container *ngIf="rematl.get('zr').hasError('required')">
                        Zr%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('zr').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['ca'].max!==null||dataDetail['ca'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="ca">Ca%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="ca" name="ca" id="ca" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ca'].max == 99999 ? '≥' + dataDetail['ca'].min : dataDetail['ca'].min + '≤' + 'Ca%' + '≤' +dataDetail['ca'].max" (ngModelChange)="MaxMinJudge(rematl,'ca')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('ca').dirty&&rematl.get('ca').errors">
                      <ng-container *ngIf="rematl.get('ca').hasError('required')">
                        Ca%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('ca').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['be'].max!==null||dataDetail['be'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="be">Be%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="be" name="be" id="be" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['be'].max == 99999 ? '≥' + dataDetail['be'].min : dataDetail['Be'].min + '≤' + 'be%' + '≤' +dataDetail['be'].max" (ngModelChange)="MaxMinJudge(rematl,'be')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('be').dirty&&rematl.get('be').errors">
                      <ng-container *ngIf="rematl.get('be').hasError('required')">
                        Be%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('be').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['p'].max!==null||dataDetail['p'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="p">P%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="p" name="p" id="p" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['p'].max == 99999 ? '≥' + dataDetail['p'].min : dataDetail['p'].min + '≤' + 'P%' + '≤' +dataDetail['p'].max" (ngModelChange)="MaxMinJudge(rematl,'p')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('p').dirty&&rematl.get('p').errors">
                      <ng-container *ngIf="rematl.get('p').hasError('required')">
                        P%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('p').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['s'].max!==null||dataDetail['s'].min!==null">
                <nz-form-item>
                  <nz-form-label nzRequired nzFor="s">S%</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="s" name="s" id="s" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['s'].max == 99999 ? '≥' + dataDetail['s'].min : dataDetail['s'].min + '≤' + 'S%' + '≤' +dataDetail['s'].max" (ngModelChange)="MaxMinJudge(rematl,'s')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('s').dirty&&rematl.get('s').errors">
                      <ng-container *ngIf="rematl.get('s').hasError('required')">
                        S%不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('s').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
            <p style="margin-top: 5px;margin-bottom: 0"><strong>力学成分</strong></p>
            <div nz-row [nzGutter]="4" nzType="flex">
              <div nz-col nzSpan="3" *ngIf="dataDetail['rel1'].max!==null||dataDetail['rel1'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="rel1">屈服强度1</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="rel1" name="rel1" id="rel1" [nzStep]="1" [nzPlaceHolder]="dataDetail['rel1'].max == 99999 ? '≥' + dataDetail['rel1'].min : dataDetail['rel1'].min + '≤' + 'rel1' + '≤' +dataDetail['rel1'].max" (ngModelChange)="MaxMinJudge(rematl,'rel1')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('rel1').dirty&&rematl.get('rel1').errors">
                      <ng-container *ngIf="rematl.get('rel1').hasError('required')">
                        屈服强度1不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('rel1').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['rel2'].max!==null||dataDetail['rel2'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="rel2"> </nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="rel2" name="rel2" id="rel2" [nzStep]="1" [nzPlaceHolder]="dataDetail['rel2'].max == 99999 ? '≥' + dataDetail['rel2'].min : dataDetail['rel2'].min + '≤' + 'rel2' + '≤' +dataDetail['rel2'].max" (ngModelChange)="MaxMinJudge(rematl,'rel2')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('rel2').dirty&&rematl.get('rel2').errors">
                      <ng-container *ngIf="rematl.get('rel2').hasError('required')">
                        屈服强度2不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('rel2').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['rm1'].max!==null||dataDetail['rm1'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="rm1">抗拉强度1</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="rm1" name="rm1" id="rm1" [nzStep]="1" [nzPlaceHolder]="dataDetail['rm1'].max == 99999 ? '≥' + dataDetail['rm1'].min : dataDetail['rm1'].min + '≤' + 'rm1' + '≤' +dataDetail['rm1'].max" (ngModelChange)="MaxMinJudge(rematl,'rm1')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('rm1').dirty&&rematl.get('rm1').errors">
                      <ng-container *ngIf="rematl.get('rm1').hasError('required')">
                        抗拉强度1不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('rm1').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['rm2'].max!==null||dataDetail['rm2'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="rm2"> </nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="rm2" name="rm2" id="rm2" [nzStep]="1" [nzPlaceHolder]="dataDetail['rm2'].max == 99999 ? '≥' + dataDetail['rm2'].min : dataDetail['rm2'].min + '≤' + 'rm2' + '≤' +dataDetail['rm2'].max" (ngModelChange)="MaxMinJudge(rematl,'rm2')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('rm2').dirty&&rematl.get('rm2').errors">
                      <ng-container *ngIf="rematl.get('rm2').hasError('required')">
                        抗拉强度2不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('rm2').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['elong1'].max!==null||dataDetail['elong1'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="elong1">延长率1</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="elong1" name="elong1" id="elong1" [nzStep]="0.1" [nzPlaceHolder]="dataDetail['elong1'].max == 99999 ? '≥' + dataDetail['elong1'].min : dataDetail['elong1'].min + '≤' + '延长率1' + '≤' +dataDetail['elong1'].max" (ngModelChange)="MaxMinJudge(rematl,'elong1')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('elong1').dirty&&rematl.get('elong1').errors">
                      <ng-container *ngIf="rematl.get('elong1').hasError('required')">
                        延长率1不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('elong1').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['elong2'].max!==null||dataDetail['elong2'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="elong2">延长率2</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="elong2" name="elong2" id="elong2" [nzStep]="0.1" [nzPlaceHolder]="dataDetail['elong2'].max == 99999 ? '≥' + dataDetail['elong2'].min : dataDetail['elong2'].min + '≤' + '延长率2' + '≤' +dataDetail['elong2'].max" (ngModelChange)="MaxMinJudge(rematl,'elong2')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('elong2').dirty&&rematl.get('elong2').errors">
                      <ng-container *ngIf="rematl.get('elong2').hasError('required')">
                        延长率2不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('elong2').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['hardness1'].max!==null||dataDetail['hardness1'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="hardness1">硬度(HRB)(d/d/d)</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <input nz-input style="width: 100%" formControlName="hardness1" name="hardness1" id="hardness1" [placeholder]="dataDetail['hardness1'].max == 99999 ? '≥' + dataDetail['hardness1'].min : dataDetail['hardness1'].min + '≤' + 'HRB' + '≤' +dataDetail['hardness1'].max" (change)="changeHardness(rematl.controls['hardness1'],'hardness1')"/>
                    <nz-form-explain *ngIf="rematl.get('hardness1').dirty&&rematl.get('hardness1').errors">
                      <ng-container *ngIf="rematl.get('hardness1').hasError('required')">
                        硬度HRB不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness1').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness1').hasError('partern')">
                        输入格式不正确(d/d/d)
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['hardness2'].max!==null||dataDetail['hardness2'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="hardness2">硬度(HRW)(d/d/d)</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <input nz-input style="width: 100%" formControlName="hardness2" name="hardness2" id="hardness2" [placeholder]="dataDetail['hardness2'].max == 99999 ? '≥' + dataDetail['hardness2'].min : dataDetail['hardness2'].min + '≤' + 'HRW' + '≤' +dataDetail['hardness2'].max" (change)="changeHardness(rematl.controls['hardness2'],'hardness2')"/>
                    <nz-form-explain *ngIf="rematl.get('hardness2').dirty&&rematl.get('hardness2').errors">
                      <ng-container *ngIf="rematl.get('hardness2').hasError('required')">
                        硬度(HRW)不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness2').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness2').hasError('partern')">
                        输入格式不正确(d/d/d)
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['hardness3'].max!==null||dataDetail['hardness3'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="hardness3">硬度(HV)(d/d/d)</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <input nz-input style="width: 100%" formControlName="hardness3" name="hardness3" id="hardness3" [placeholder]="dataDetail['hardness3'].max == 99999 ? '≥' + dataDetail['hardness3'].min : dataDetail['hardness3'].min + '≤' + 'HV' + '≤' +dataDetail['hardness3'].max" (change)="changeHardness(rematl.controls['hardness3'],'hardness3')"/>
                    <nz-form-explain *ngIf="rematl.get('hardness3').dirty&&rematl.get('hardness3').errors">
                      <ng-container *ngIf="rematl.get('hardness3').hasError('required')">
                        硬度(HV)不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness3').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                      <ng-container *ngIf="rematl.get('hardness3').hasError('partern')">
                        输入格式不正确(d/d/d)
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['impactp1'].max!==null||dataDetail['impactp1'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="impactp1">冲击功1</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="impactp1" name="impactp1" id="impactp1" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp1'].max == 99999 ? '≥' + dataDetail['impactp1'].min : dataDetail['impactp1'].min + '≤' + '冲击功1' + '≤' +dataDetail['impactp1'].max" (ngModelChange)="MaxMinJudge(rematl,'impactp1')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('impactp1').dirty&&rematl.get('impactp1').errors">
                      <ng-container *ngIf="rematl.get('impactp1').hasError('required')">
                        冲击功1不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('impactp1').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['impactp2'].max!==null||dataDetail['impactp2'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="impactp2">冲击功2</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="impactp2" name="impactp2" id="impactp2" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp2'].max == 99999 ? '≥' + dataDetail['impactp2'].min : dataDetail['impactp2'].min + '≤' + '冲击功1' + '≤' +dataDetail['impactp2'].max" (ngModelChange)="MaxMinJudge(rematl,'impactp2')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('impactp2').dirty&&rematl.get('impactp2').errors">
                      <ng-container *ngIf="rematl.get('impactp2').hasError('required')">
                        冲击功2不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('impactp2').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="3" *ngIf="dataDetail['impactp3'].max!==null||dataDetail['impactp3'].min!==null">
                <nz-form-item>
                  <nz-form-label nzFor="impactp3">冲击功3</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="impactp3" name="impactp3" id="impactp3" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp3'].max == 99999 ? '≥' + dataDetail['impactp3'].min : dataDetail['impactp3'].min + '≤' + '冲击功3' + '≤' +dataDetail['impactp3'].max" (ngModelChange)="MaxMinJudge(rematl,'impactp3')"></nz-input-number>
                    <nz-form-explain *ngIf="rematl.get('impactp3').dirty&&rematl.get('impactp3').errors">
                      <ng-container *ngIf="rematl.get('impactp3').hasError('required')">
                        冲击功3不能为空
                      </ng-container>
                      <ng-container *ngIf="rematl.get('impactp3').hasError('overflow')">
                        输入值超出范围！
                      </ng-container>
                    </nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4"  *ngIf="dataDetail['impacttemp']!=null">
                <nz-form-item>
                  <nz-form-label nzFor="impacttemp">冲击温度</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <nz-input-number style="width: 100%" formControlName="impacttemp" name="impacttemp" id="impacttemp" [nzMax]="dataDetail['impacttemp']==null?99999:dataDetail['impacttemp']" [nzPlaceHolder]="'≤'+dataDetail['impacttemp']"></nz-input-number>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="4"  *ngIf="dataDetail['bendaxdia']!=null && dataDetail['bendaxdia']!=''">
                <nz-form-item>
                  <nz-form-label nzFor="bendaxdia">弯曲直径</nz-form-label>
                  <nz-form-control nzHasFeedback>
                    <input placeholder="≤{{this.dataDetail.bendaxdia}}" nz-input formControlName="bendaxdia" name="bendaxdia" id="bendaxdia" (blur)="judgeBendaxdia(this.rematl.controls['bendaxdia'])">
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>
          </form>

          <div style="text-align:center;margin-top: 20px">
            <button nz-button nzType="primary" (click)="submitForm(i)">提交</button>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
  </div>

