<div>
  <h3 class="title">访问权限管理</h3>
</div>
<nz-divider></nz-divider>
<nz-table #expandTable [nzData]="dataSet" nzBordered>
  <thead>
  <tr>
    <th nzWidth="40%">名称</th>
    <th>访问权限</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let data of expandTable.data">
    <ng-container *ngFor="let item of mapOfExpandedData[data.key]">
      <tr *ngIf="item.parent && item.parent.expand || !item.parent">
        <td
          [nzIndentSize]="item.level * 20"
          [nzShowExpand]="!!item.children"
          [(nzExpand)]="item.expand"
          (nzExpandChange)="collapse(mapOfExpandedData[data.key],item,$event)">
          <i nz-icon [type]="item.icon" *ngIf="item.icon"></i>
          {{item.name}}
        </td>
        <td>
          <span *ngIf="item.level==0">
            <span *ngFor="let p of getLevel0Power(item)">
                {{p}}
            </span>
          </span>
          <span *ngIf="item.level==1 && !!item.children">
            <span *ngFor="let p of getLevel1Power(item)">
                {{p}}
            </span>
          </span>
          <span *ngIf="!item.children">{{power[item.name]}}</span>
        </td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</nz-table>
