<div>
  <h3 class="title">月材料查询</h3>
  <span style="float: right">
    <button class="tool-button" nz-button nzType="default" (click)="download()"><i nz-icon type="download"></i>下载Excel表格</button>
  </span>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
        <nz-form-item>
          <nz-form-label [nzSm]="6" nzFor="matlcode">材料代码</nz-form-label>
          <nz-form-control [nzSm]="14">
            <input nz-input placeholder="材料代码" formControlName="matlcode" name="matlcode" id="matlcode" >
            <nz-form-explain *ngIf="validateForm.get('matlcode').dirty && validateForm.get('matlcode').errors">
              材料代码不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="inyear">入库年份</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-input-number [nzPlaceHolder]="'入库年份'" [nzMin]="1990" [nzMax]="thisyear" [nzStep]="1" formControlName="inyear" name="inyear" id="inyear" style="width: 100%"></nz-input-number>
          <nz-form-explain *ngIf="validateForm.get('inyear').dirty && validateForm.get('inyear').errors">
            入库年份不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="month">入库月份</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-input-number [nzPlaceHolder]="'入库月份'" [nzMin]="1" [nzMax]="12" [nzStep]="1" formControlName="inmonth" name="inmonth" id="inmonth" style="width: 100%"></nz-input-number>
          <nz-form-explain *ngIf="validateForm.get('inmonth').dirty && validateForm.get('inmonth').errors">
            入库月份不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <button nz-button [nzType]="'primary'" (click)="searchData(true)">查询</button>
    </div>
  </div>
</form>
<div style="margin-top: 30px;" *ngIf="status">
  <nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataset"
    [nzLoading]="loading"
    [nzTotal]="total"
    nzSize="middle"
    [(nzPageIndex)]="pageindex"
    [(nzPageSize)]="pagesize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead>
    <tr>
      <th>入库编号</th>
      <th>质保书情况</th>
      <th>供货单位</th>
      <th>生产单位</th>
      <th>入库日期</th>
      <th>炉批号</th>
      <th>材料名称</th>
      <th>质保书号</th>
      <th>材料标准</th>
      <th>牌号</th>
      <th>规格</th>
      <th>数量</th>
      <th>单位</th>
      <th>尺寸</th>
      <th>热处理状态</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
      <tr>
        <td>{{data.codedmarking}}</td>
        <td>{{data.warrantysitu}}</td>
        <td>{{data.supplier}}</td>
        <td>{{data.millunit}}</td>
        <td>{{data.indate}}</td>
        <td>{{data.heatbatchno}}</td>
        <td>{{data.matlname}}</td>
        <td>{{data.warrantyno}}</td>
        <td>{{data.matlstand}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.spec}}</td>
        <td>{{data.qty}}</td>
        <td>{{data.unit}}</td>
        <td>{{data.dimension}}</td>
        <td>{{data.heatcondi}}</td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
