<div>
  <h3 class="title">修改密码</h3>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>旧密码</nz-form-label>
    <nz-form-control [nzSpan]="10" nzHasFeedback>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input nz-input formControlName="password" type="password"  [type]="passwordVisible?'text':'password'"/>
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i style="margin-right: 20px" nz-icon [nzType]="passwordVisible? 'eye-invisible':'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
        <ng-container *ngIf="validateForm.get('password').hasError('required')">
          旧密码不能为空！
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>新密码
    </nz-form-label>
    <div>
      <nz-form-control [nzSpan]="10" nzHasFeedback>
        <nz-input-group [nzSuffix]="suffixTemplate2">
          <input [type]="newPasswordVisible?'text':'password'" nz-input type="password" formControlName="newpassword" (ngModelChange)="validateConfirmPassword()"/>
        </nz-input-group>
        <ng-template #suffixTemplate2>
          <i style="margin-right: 20px" nz-icon [nzType]="newPasswordVisible? 'eye-invisible':'eye'" (click)="newPasswordVisible = !newPasswordVisible"></i>
        </ng-template>
        <nz-form-explain *ngIf="validateForm.get('newpassword').dirty&&validateForm.get('newpassword').hasError('required')">
          新密码必须为6-16位，字母、数字、符号至少包含两种！
        </nz-form-explain>
      </nz-form-control>
      </div>
      <div nz-col nzSpan="8" nzOffset="1" style="line-height: 32px;">
        <nz-tooltip [nzTitle]="passwordStrength" *ngIf="validateForm.value.newpassword">
          <nz-progress nz-tooltip [nzPercent]="passwordPecent" [nzStatus]="passwordStatus"></nz-progress>
          <span>密码强度：{{passwordStrength}}</span>
        </nz-tooltip>
      </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="5" nzRequired>确认新密码</nz-form-label>
    <nz-form-control [nzSpan]="10" nzHasFeedback>
      <input nz-input type="password" formControlName="newpasswordconfirm">
      <nz-form-explain *ngIf="validateForm.get('newpasswordconfirm').dirty&&validateForm.get('newpasswordconfirm').errors">
        <ng-container *ngIf="validateForm.get('newpasswordconfirm').hasError('required')">
          请再次输入新密码！
        </ng-container>
        <ng-container *ngIf="validateForm.get('newpasswordconfirm').hasError('newpasswordconfirm')">
          两次密码不一致！
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="5" [nzSpan]="10">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">确认修改</button>
      <button nz-button (click)="resetForm($event)">重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
