<div>
  <h3 class="title">修改密码</h3>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm($event,validateForm.value)">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>旧密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="password" type="password">
      <nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">
        <ng-container *ngIf="validateForm.get('password').hasError('required')">
          旧密码不能为空！
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>新密码</nz-form-label>
    <div>
      <nz-form-control [nzSpan]="12" nzHasFeedback>
        <input nz-input type="password" formControlName="newpassword" (ngModelChange)="validateConfirmPassword()">
        <nz-form-explain *ngIf="validateForm.get('newpassword').dirty&&validateForm.get('newpassword').hasError('required')">
          请输入新密码！
        </nz-form-explain>
      </nz-form-control>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>确认新密码</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input type="password" formControlName="newpasswordconfirm">
      <nz-form-explain *ngIf="validateForm.get('newpasswordconfirm').dirty&&validateForm.get('newpasswordconfirm').errors">
        <ng-container *ngIf="validateForm.get('newpasswordconfirm').hasError('required')">
          请再次输入新密码！
        </ng-container>
        <ng-container *ngIf="validateForm.get('newpasswordconfirm').hasError('newpasswordconfirm')">
          两次密码不一致！
        </ng-container>
      </nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzOffset]="7" [nzSpan]="12">
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">确认修改</button>
      <button nz-button (click)="resetForm($event)">重置</button>
    </nz-form-control>
  </nz-form-item>
</form>
