<div>
  <h3 class="title">产品制造参数输入</h3>
  <span style="float: right">
    <button class="tool-button" nz-button nzType="primary" (click)="showModal()" *ngIf="this.validateForm.value.dwgno">填写安全泄放装置制造单位信息</button>
    <button class="tool-button" nz-button nzType="default" (click)="createTplModal(orderunitTitle, orderunitContent, orderunitFooter)">添加订货单位</button>
  </span>
</div>
<nz-divider></nz-divider>
<div nz-row [nzGutter]="16" nzType="flex">
  <form nz-form [formGroup]="validateForm">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="prodno">产品编号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="产品编号"  formControlName="prodno" name="prodno" id="prodno" (ngModelChange)="searchData()">
            <nz-option *ngFor="let option of prodnos" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="orderunit">订货单位</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="订货单位"  formControlName="orderunit" name="orderunit" id="orderunit">
            <nz-option *ngFor="let option of orderunits" [nzLabel]="option.name" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="dwgno">图号</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="图号"  formControlName="dwgno" name="dwgno" id="dwgno" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="ecode">设备代码</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="设备代码"  formControlName="ecode" name="ecode" id="ecode"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="dealter">设计变更</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="设计变更"  formControlName="dealter" name="dealter" id="dealter">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="submatl">材料代用</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="材料代用"  formControlName="submatl" name="submatl" id="submatl">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="docum">资料员</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="资料员"  formControlName="docum" name="docum" id="docum">
            <nz-option *ngFor="let option of users" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="dedate">设计日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="设计日期" formControlName="dedate" name="dedate" id="dedate" (blur)="formatDate(validateForm.controls['dedate'])" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="blankdate">下料日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="下料日期" formControlName="blankdate" name="blankdate" id="blankdate" (blur)="formatDate(validateForm.controls['blankdate'])"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="matlretest">材料复验</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="材料复验"  formControlName="matlretest" name="matlretest" id="matlretest">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="specmatl">特殊材料</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="特殊材料"  formControlName="specmatl" name="specmatl" id="specmatl">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="overmatl">境外材料</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="境外材料"  formControlName="overmatl" name="overmatl" id="overmatl">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nwpq">新焊接工艺评定</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="新焊接工艺评定"  formControlName="nwpq" name="nwpq" id="nwpq">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="nprocess">新工艺</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="新工艺（固容规规定外的情况）"  formControlName="nprocess" name="nprocess" id="nprocess">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="copsitu">外协情况</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="外协情况"  formControlName="copsitu" name="copsitu" id="copsitu">
            <nz-option nzLabel="有" nzValue="有"></nz-option>
            <nz-option nzLabel="无" nzValue="无"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="type">结构型式</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="结构型式"  formControlName="type" name="type" id="type">
            <nz-option *ngFor="let option of types" [nzLabel]="option.name" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="exworkdate">制造完工日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="制造完工日期" formControlName="exworkdate" name="exworkdate" id="exworkdate" (blur)="formatDate(validateForm.controls['exworkdate'])"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="thick">冷卷筒体投料厚度{{returnArray2String(this.dataStand.shthick)}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="冷卷筒体投料厚度实测值" formControlName="thick" name="thick" id="thick"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="minthickstand">封头成形最小厚度标准值</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="封头成形最小厚度标准值" formControlName="minthickstand" name="minthickstand" id="minthickstand"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="thick">封头成形最小厚度实测值</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="封头成形最小厚度实测值" formControlName="minthick" name="minthick" id="minthick"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4"
         *ngIf="this.validateForm.value.dwgno!=null">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="proheight">产品总高（标准值：{{dataStand.proheight}}）</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="产品总高实测值" formControlName="proheight" name="proheight" id="proheight"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4"
         *ngIf="this.validateForm.value.dwgno!=null">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="length">筒体长度（标准值：{{dataStand.length}}）</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="筒体长度实测值" formControlName="length" name="length" id="length"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4"
         *ngIf="this.validateForm.value.dwgno!=null">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="straightness">筒体直线度（标准值：{{dataStand.straightness}}）</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="筒体直线度实测值" formControlName="straightness" name="straightness" id="straightness"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </form>
  <ng-container *ngFor="let item of dataStand.aweldmaxangul;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.aweldmaxangul.length>0">
      <p>A类焊缝最大棱角度{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.aweldmaxangul[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.bweldmaxangul;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.bweldmaxangul.length>0">
      <p>B类焊缝最大棱角度{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.bweldmaxangul[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.aweldmaxalign;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.aweldmaxalign.length>0">
      <p>A类焊缝最大错边量{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.aweldmaxalign[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.bweldmaxalign;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.bweldmaxalign.length>0">
      <p>B类焊缝最大错边量{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.bweldmaxalign[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.innerdia;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.innerdia.length>0">
      <p>筒体内径{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.innerdia[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.roundness;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.roundness.length>0">
      <p>筒体圆度{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.roundness[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.outward;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.outward.length>0">
      <p>封头形状偏差外凸{{i+1}}</p>
      <input nz-input [(ngModel)]="dataDetail.outward[i]" placeholder="{{'0~'+item}}"/>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.concave;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.concave.length>0">
      <p>封头形状偏差内凹{{i+1}}</p>
      <input nz-input [(ngModel)]="dataDetail.concave[i]" placeholder="{{'0~'+item}}"/>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.weldreinfs;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.weldreinfs.length>0">
      <p>焊缝余高（单面坡口）{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.weldreinfs[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
  <ng-container *ngFor="let item of dataStand.weldreinfd;let i = index">
    <div nz-col [nzSpan]="4" *ngIf="this.validateForm.value.dwgno!=null && dataStand.weldreinfd.length>0">
      <p>焊缝余高（双面坡口）{{i+1}}</p>
      <nz-input-number [(ngModel)]="dataDetail.weldreinfd[i]" [nzMin]="0" [nzStep]="1" [nzPlaceHolder]="'0~'+item" style="width:100%;"></nz-input-number>
    </div>
  </ng-container>
</div>
<div style="text-align:center;margin-top: 20px">
  <button nz-button nzType="primary" (click)="submitForm()">提交</button>
</div>

<div id="addOrderunit">
  <form nz-form [formGroup]="orderunitValidateForm">
    <ng-template #orderunitTitle>
      <span>添加订货单位</span>
    </ng-template>
    <ng-template #orderunitContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="orderunit" nzRequired>订货单位</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="orderunit" nz-input placeholder="订货单位名称">
          <nz-form-explain *ngIf="orderunitValidateForm.get('orderunit').dirty && orderunitValidateForm.get('orderunit').errors">订货单位名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="orderunitename" nzRequired>英文名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="orderunitename" nz-input placeholder="订货单位英文名称">
          <nz-form-explain *ngIf="orderunitValidateForm.get('orderunitename').dirty && orderunitValidateForm.get('orderunitename').errors">订货单位英文名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #orderunitFooter>
      <button nz-button nzType="primary" (click)="submitInfo('orderunit')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm2">
  <div nz-row [nzGutter]="16" nzType="flex">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="prodno">产品编号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="产品编号"  formControlName="prodno" name="prodno" id="prodno2" (ngModelChange)="searchData2()">
            <nz-option *ngFor="let option of prodnos" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="dwgno">图号</nz-form-label>
        <nz-form-control>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="图号"  formControlName="dwgno" name="dwgno" id="dwgno2" (ngModelChange)="searchData2()">
            <nz-option *ngFor="let option of dwgnos" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="exworkdate">制造完工日期</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="制造完工日期" formControlName="exworkdate" name="exworkdate" id="exworkdate2" (blur)="formatDate(validateForm2.controls['exworkdate'])"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row [nzGutter]="16" nzType="flex"
       *ngIf="this.validateForm2.value.dwgno!=null">
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="aweldmaxangul2">A类焊缝最大棱角度(标准值：{{dataStand2.aweldmaxangul}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="aweldmaxangul" name="aweldmaxangul" id="aweldmaxangul2" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="bweldmaxangul2">B类焊缝最大棱角度(标准值：{{dataStand2.bweldmaxangul}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="bweldmaxangul" name="bweldmaxangul" id="bweldmaxangul2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="aweldmaxalign2">A类焊缝最大错边量(标准值：{{dataStand2.aweldmaxalign}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="aweldmaxalign" name="aweldmaxalign" id="aweldmaxalign2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="bweldmaxalign2">B类焊缝最大错边量(标准值：{{dataStand2.bweldmaxalign}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="bweldmaxalign" name="bweldmaxalign" id="bweldmaxalign2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="weldreinfs2">焊缝余高（单面坡口）(标准值：{{dataStand2.weldreinfs}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="weldreinfs" name="weldreinfs" id="weldreinfs2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="weldreinfd">焊缝余高（双面坡口）(标准值：{{dataStand2.weldreinfd}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="weldreinfd" name="weldreinfd" id="weldreinfd"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="thick2">冷卷筒体投料厚度{{returnArray2String(this.dataStand.shthick)}}</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="冷卷筒体投料厚度实测值" formControlName="thick" name="thick" id="thick2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="minthickstand2">封头成形最小厚度标准值</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="封头成形最小厚度标准值" formControlName="minthickstand" name="minthickstand" id="minthickstand2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="thick2">封头成形最小厚度实测值</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="封头成形最小厚度实测值" formControlName="minthick" name="minthick" id="minthick2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="proheight2">产品总高（标准值：{{dataStand2.proheight}}）</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="产品总高实测值" formControlName="proheight" name="proheight" id="proheight2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="length2">筒体长度（标准值：{{dataStand2.length}}）</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="筒体长度实测值" formControlName="length" name="length" id="length2"/>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="innerdia2">筒体内径(标准值：{{dataStand2.innerdia}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="innerdia" name="innerdia" id="innerdia2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="roundness2">筒体圆度(标准值：{{dataStand2.roundness}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="roundness" name="roundness" id="roundness2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="straightness2">筒体直线度(标准值：{{dataStand2.straightness}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="straightness" name="straightness" id="straightness2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="outward2">封头形状偏差外凸(标准值：{{dataStand2.outward}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="outward" name="outward" id="outward2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="concave2">封头形状偏差内凹(标准值：{{dataStand2.concave}})</nz-form-label>
        <nz-form-control>
          <input nz-input placeHolder="请输入实测值" formControlName="concave" name="concave" id="concave2"/>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
<div style="text-align:center;margin-top: 20px">
  <button nz-button nzType="primary" (click)="submitForm2()">提交</button>
</div>

<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    安全泄放装置信息输入（图号：{{this.validateForm.value.dwgno}}）
  </ng-template>

  <ng-template #modalContent>
    <nz-table #editRowTable nzBordered [nzData]="listOfData" [nzShowPagination]="false">
      <thead>
      <tr>
        <th>名称</th>
        <th>型号</th>
        <th>规格</th>
        <th>数量</th>
        <th nzWidth="200px">制造单位</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of editRowTable.data" class="editable-row">
        <td>{{data.name}}</td>
        <td>{{data.model}}</td>
        <td>{{data.spec}}</td>
        <td>{{data.qty}}</td>
        <td>
          <div class="editable-cell" *ngIf="editId !== data.id; else editTpl">
            <div class="editable-cell-value-wrap" (click)="startEdit(data.id,$event)" style="height: 32px">
              {{data.mfunit}}
            </div>
          </div>
          <ng-template #editTpl>
            <nz-select nzShowSearch style="width: 100%" nzMode="default" [(ngModel)]="data.mfunit" nzPlaceHolder="请选择制造单位">
              <nz-option *ngFor="let option of millunits" [nzLabel]="option" [nzValue]="option"></nz-option>
            </nz-select>
          </ng-template>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
    <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">提交信息</button>
  </ng-template>
</nz-modal>
