<div>
  <h3 class="title">材料使用情况查询</h3>
  <span style="float: right">
    <button class="tool-button" nz-button nzType="default" (click)="download()"><i nz-icon type="download"></i>下载Excel表格</button>
  </span>
</div>
<nz-divider></nz-divider>
<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="matlcode">入库编号</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input nz-input placeholder="入库编号" formControlName="codedmarking" name="codedmarking" id="codedmarking" >
          <nz-form-explain *ngIf="validateForm.get('codedmarking').dirty && validateForm.get('codedmarking').errors">
            入库编号不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <button nz-button [nzType]="'primary'" (click)="searchData(true)">查询</button>
    </div>
  </div>
</form>
<div style="margin-top: 30px;" *ngIf="codedmarking!=null">
  <nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataset"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageindex"
    [(nzPageSize)]="pagesize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)"
    nzShowQuickJumper nzShowTotal nzHideOnSinglePage>
    <thead>
    <tr>
      <th>牌号</th>
      <th>规格</th>
      <th>数量</th>
      <th>产品编号</th>
      <th>产品名称</th>
      <th>零件名称</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
      <tr>
        <td>{{data.designation}}</td>
        <td>{{data.spec}}</td>
        <td>{{data.qty}}</td>
        <td>{{data.prodno}}</td>
        <td>{{data.prodname}}</td>
        <td>{{data.spartname}}</td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
