<div>
  <h3 class="title">入库通知单生成</h3>
</div>
<nz-tabset>
  <nz-tab nzTitle="按日期查询">
    <form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" nzFor="matlcode">材料代码</nz-form-label>
            <nz-form-control [nzSm]="14">
              <input nz-input placeholder="材料代码" formControlName="matlcode" name="matlcode" id="matlcode" >
              <nz-form-explain *ngIf="validateForm.get('matlcode').dirty && validateForm.get('matlcode').errors">
                材料代码不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" nzFor="year">入库年份</nz-form-label>
            <nz-form-control [nzSm]="14">
              <nz-input-number [nzPlaceHolder]="'入库年份'" [nzMin]="1990" [nzMax]="thisyear" [nzStep]="1" formControlName="year" name="year" id="year" style="width: 100%"></nz-input-number>
              <nz-form-explain *ngIf="validateForm.get('year').dirty && validateForm.get('year').errors">
                入库年份不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" nzFor="month">入库月份</nz-form-label>
            <nz-form-control [nzSm]="14">
              <nz-input-number [nzPlaceHolder]="'入库月份'" [nzMin]="1" [nzMax]="12" [nzStep]="1" formControlName="month" name="month" id="month" style="width: 100%"></nz-input-number>
              <nz-form-explain *ngIf="validateForm.get('month').dirty && validateForm.get('month').errors">
                入库月份不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <button nz-button [nzType]="'primary'" (click)="searchDataByMatlcode()">查询</button>
        </div>
      </div>
    </form>
  </nz-tab>
  <nz-tab nzTitle="通过入库编号查询">
    <form nz-form [formGroup]="validateForm2" class="ant-advanced-search-form">
      <div nz-row [nzGutter]="24">
        <div nz-col [nzSpan]="8">
          <nz-form-item>
            <nz-form-label [nzSm]="6" nzFor="codedmarking">入库编号</nz-form-label>
            <nz-form-control [nzSm]="14">
              <input nz-input placeholder="入库编号" formControlName="codedmarking" name="codedmarking" id="codedmarking" >
              <nz-form-explain *ngIf="validateForm2.get('codedmarking').dirty && validateForm2.get('codedmarking').errors">
                入库编号不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="8">
          <button nz-button [nzType]="'primary'" (click)="searchDataByCodedmarking()">查询</button>
        </div>
      </div>
    </form>
  </nz-tab>
</nz-tabset>
<div *ngIf="dataSet.length > 0 && mode == 1" #print style="width: 800px">
  <p style="margin-bottom: 20px;margin-top: 20px">
  <essence-ng2-print
    [mode]="'popup'"
    [printCSS]="printCSS"
    [popTitle]="'入库通知单'"
    [btnText]="'打印通知单'"
    [printHTML]="print"
    [showBtn]="printBtnBoolean"
    [btnClass]="{'ant-btn':true}"
    (click)="beforePrint()"
    (printComplete)="printComplete()">
  </essence-ng2-print>
  <button
    nz-button
    nz-popover
    *ngIf="printBtnBoolean"
    nzType="primary"
    nzTitle="注意事项"
    nzContent="请在打印页面，点击更多设置-边距-最小值。"
    nzShape="circle"
    style="margin-left: 20px;margin-top: 4px">
    <i nz-icon type="question-circle" theme="outline"></i>
  </button>
  </p>
  <div *ngFor="let item of dataSet;let i = index" class="report1" style="padding-top: 63px;page-break-after: always;">
    <table border=0 cellpadding=0 cellspacing=0 width=707 style='border-collapse:
 collapse;table-layout:fixed;width:532pt;margin-left: 40px'>
      <colgroup width=49 span=2 style='mso-width-source:userset;mso-width-alt:1578;
 width:37pt'></colgroup>
      <colgroup width=33 style='mso-width-source:userset;mso-width-alt:1066;width:25pt'></colgroup>
      <colgroup width=84 style='mso-width-source:userset;mso-width-alt:2688;width:63pt'></colgroup>
      <colgroup width=55 style='mso-width-source:userset;mso-width-alt:1749;width:41pt'></colgroup>
      <colgroup width=25 style='mso-width-source:userset;mso-width-alt:810;width:19pt'></colgroup>
      <colgroup width=45 style='mso-width-source:userset;mso-width-alt:1450;width:34pt'></colgroup>
      <colgroup width=53 style='mso-width-source:userset;mso-width-alt:1706;width:40pt'></colgroup>
      <colgroup width=27 style='mso-width-source:userset;mso-width-alt:853;width:20pt'></colgroup>
      <colgroup width=49 style='mso-width-source:userset;mso-width-alt:1578;width:37pt'></colgroup>
      <colgroup width=68 style='mso-width-source:userset;mso-width-alt:2176;width:51pt'></colgroup>
      <colgroup width=5 style='mso-width-source:userset;mso-width-alt:170;width:4pt'></colgroup>
      <colgroup width=53 style='mso-width-source:userset;mso-width-alt:1706;width:40pt'></colgroup>
      <colgroup width=112 style='mso-width-source:userset;mso-width-alt:3584;width:84pt'></colgroup>
      <tr height=20 style='height:15.0pt'>
        <td colspan=2 height=20 class=xl66 width=98 style='height:15.0pt;width:74pt'>表C-04</td>
        <td class=xl66 width=33 style='width:25pt'></td>
        <td width=84 style='width:63pt'></td>
        <td width=55 style='width:41pt'></td>
        <td width=25 style='width:19pt'></td>
        <td width=45 style='width:34pt'></td>
        <td width=53 style='width:40pt'></td>
        <td width=27 style='width:20pt'></td>
        <td width=49 style='width:37pt'></td>
        <td width=68 style='width:51pt'></td>
        <td width=5 style='width:4pt'></td>
        <td width=53 style='width:40pt'></td>
        <td width=112 style='width:84pt'></td>
      </tr>
      <tr height=29 style='mso-height-source:userset;height:22.5pt'>
        <td colspan=14 height=29 class=xl86 style='height:22.5pt'>材料验收入库通知单</td>
      </tr>
      <tr height=21 style='height:16.0pt'>
        <td height=21 class=xl65 style='height:16.0pt'></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan=6 class=xl87></td>
        <td></td>
        <td colspan=2 class=xl88>No:</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl71 width=98 style='height:33.0pt;width:74pt'>材料名称</td>
        <td colspan=4 class=xl76 width=197 style='border-left:none;width:148pt'>{{item.matlname}}</td>
        <td colspan=2 class=xl76 width=98 style='border-left:none;width:74pt'>牌号</td>
        <td colspan=4 class=xl76 width=149 style='border-left:none;width:112pt'>{{item.designation}}</td>
        <td colspan=2 class=xl76 width=165 style='border-right:1.0pt solid black;
  border-left:none;width:124pt'>入库编号</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl72 width=98 style='height:33.0pt;width:74pt'>规格</td>
        <td colspan=4 class=xl73 width=197 style='border-left:none;width:148pt'>{{item.spec}}</td>
        <td colspan=2 class=xl73 width=98 style='border-left:none;width:74pt'>数量</td>
        <td colspan=4 class=xl73 width=149 style='border-left:none;width:112pt'>{{item.qty}}{{item.unit}}</td>
        <td colspan=2 class=xl73 width=165 style='border-right:1.0pt solid black;
  border-left:none;width:124pt'>{{item.codedmarking}}</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl72 width=98 style='height:33.0pt;width:74pt'>供货单位</td>
        <td colspan=4 class=xl73 width=197 style='border-left:none;width:148pt'>{{item.supplier}}</td>
        <td colspan=2 class=xl73 width=98 style='border-left:none;width:74pt'>材料标准</td>
        <td colspan=6 class=xl73 width=314 style='border-right:1.0pt solid black;
  border-left:none;width:236pt'>{{item.modelstand+"/"}}{{item.matlstand}}</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl72 width=98 style='height:33.0pt;width:74pt'>质证书号</td>
        <td colspan=4 class=xl73 width=197 style='border-left:none;width:148pt'>{{item.warrantyno}}</td>
        <td colspan=2 class=xl77 style='border-left:none'>炉批号</td>
        <td colspan=6 class=xl77 style='border-right:1.0pt solid black;border-left:
  none'>{{item.heatbatchno}}</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl72 width=98 style='height:33.0pt;width:74pt'>供货状态</td>
        <td colspan=2 class=xl73 width=117 style='border-left:none;width:88pt'>{{item.heatcondi}}</td>
        <td colspan=2 class=xl73 width=80 style='border-left:none;width:60pt'>生产厂</td>
        <td colspan=8 class=xl73 width=412 style='border-right:1.0pt solid black;
  border-left:none;width:310pt'>{{item.millunit}}</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td rowspan=10 height=440 class=xl80 width=49 style='height:330.0pt;
  border-top:none;width:37pt'>检<br>查<br>结<br>果</td>
        <td colspan=3 class=xl90 width=166 style='width:125pt'>质证书审查</td>
        <td colspan=10 class=xl73 width=492 style='border-right:1.0pt solid black;
  border-left:none;width:370pt'>内容清晰齐全，化学成份、力学符合要求</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=3 height=44 class=xl90 width=166 style='height:33.0pt;width:125pt'>标记复核</td>
        <td colspan=10 class=xl73 width=492 style='border-right:1.0pt solid black;
  border-left:none;width:370pt'>标记清晰，内容同质保书一致</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=3 height=44 class=xl90 width=166 style='height:33.0pt;width:125pt'>外观质量</td>
        <td colspan=10 class=xl73 width=492 style='border-right:1.0pt solid black;
  border-left:none;width:370pt'>合格</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=3 height=44 class=xl90 width=166 style='height:33.0pt;width:125pt'>规格、数量</td>
        <td colspan=10 class=xl73 width=492 style='border-right:1.0pt solid black;
  border-left:none;width:370pt'>{{item.dimension}}</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=3 height=44 class=xl90 width=166 style='height:33.0pt;width:125pt'>存在问题</td>
        <td colspan=10 class=xl73 width=492 style='border-right:1.0pt solid black;
  border-left:none;width:370pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td rowspan=5 height=220 class=xl91 width=49 style='height:165.0pt;
  border-top:none;width:37pt'>问<br>题<br>处<br>理</td>
        <td colspan=2 class=xl73 width=117 style='border-left:none;width:88pt'>力学试验</td>
        <td colspan=5 class=xl73 width=205 style='border-left:none;width:154pt'>　</td>
        <td rowspan=5 class=xl108 width=49 style='border-top:none;width:37pt'>试<br>验<br>报<br>告<br>编<br>号</td>
        <td colspan=4 class=xl104 width=238 style='border-right:1.0pt solid black;
  border-left:none;width:179pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl73 width=117 style='height:33.0pt;border-left:
  none;width:88pt'>化学试验</td>
        <td colspan=5 class=xl73 width=205 style='border-left:none;width:154pt'>　</td>
        <td colspan=4 class=xl104 width=238 style='border-right:1.0pt solid black;
  border-left:none;width:179pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl73 width=117 style='height:33.0pt;border-left:
  none;width:88pt'>金相试验</td>
        <td colspan=5 class=xl73 width=205 style='border-left:none;width:154pt'>　</td>
        <td colspan=4 class=xl104 width=238 style='border-right:1.0pt solid black;
  border-left:none;width:179pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td rowspan=2 height=88 class=xl94 width=33 style='height:66.0pt;border-top:
  none;width:25pt'>其它<br>检验</td>
        <td class=xl67 width=84 style='border-top:none;border-left:none;width:63pt'>　</td>
        <td colspan=5 class=xl73 width=205 style='border-left:none;width:154pt'>　</td>
        <td colspan=4 class=xl104 width=238 style='border-right:1.0pt solid black;
  border-left:none;width:179pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td height=44 class=xl68 width=84 style='height:33.0pt;border-top:none;
  border-left:none;width:63pt'>　</td>
        <td colspan=5 class=xl96 width=205 style='border-left:none;width:154pt'>　</td>
        <td colspan=4 class=xl106 width=238 style='border-right:1.0pt solid black;
  border-left:none;width:179pt'>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td rowspan=4 height=176 class=xl80 width=49 style='height:132.0pt;
  border-top:none;width:37pt'>结论</td>
        <td colspan=13 rowspan=3 class=xl98 width=658 style='border-right:1.0pt solid black;
  width:495pt'>经检验该材料符合<span
          style='mso-spacerun:yes'>{{item.matlstand}}
  </span>标准，验收合格，同意入库。</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td colspan=2 height=44 class=xl74 width=82 style='height:33.0pt;border-left:
  none;width:62pt'>检验员：</td>
        <td class=xl69 width=84 style='width:63pt'><img width="70px" *ngIf="item.usersign!=null" src="{{item.usersign}}"></td>
        <td colspan=3 class=xl97>材料责任人：</td>
        <td colspan=3 class=xl97><img width="70px" *ngIf="item.audit_usersign!=null" src="{{item.audit_usersign}}"></td>
        <td colspan=3 class=xl97>日期：{{showDate(item.indate)}}</td>
        <td class=xl70>　</td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
        <td rowspan=2 height=88 class=xl80 width=49 style='border-bottom:1.0pt solid black;
  height:66.0pt;border-top:none;width:37pt'>备注</td>
        <td colspan=13 rowspan=2 class=xl82 width=658 style='border-right:1.0pt solid black;
  border-bottom:1.0pt solid black;width:495pt'></td>
      </tr>
      <tr height=44 style='mso-height-source:userset;height:33.0pt'>
      </tr>
    </table>
  </div>
</div>

<div *ngIf="dataSet.length > 0 && mode == 2" #print2 style="width: 850px">
  <p style="margin-bottom: 20px;margin-top: 20px">
  <essence-ng2-print
    [mode]="'popup'"
    [printCSS]="printCSS"
    [popTitle]="'入库通知单'"
    [btnText]="'打印通知单'"
    [printHTML]="print2"
    [showBtn]="printBtnBoolean"
    [btnClass]="{'ant-btn':true}"
    (click)="beforePrint()"
    (printComplete)="printComplete()">
  </essence-ng2-print>
  <button
    nz-button
    nz-popover
    *ngIf="printBtnBoolean"
    nzType="primary"
    nzTitle="注意事项"
    nzContent="请在打印页面，点击更多设置-边距-最小值。"
    nzShape="circle"
    style="margin-left: 20px;margin-top: 4px">
    <i nz-icon type="question-circle" theme="outline"></i>
  </button>
  </p>
  <div *ngFor="let item of dataSet;let i = index" class="report2" style="padding-top: 33px;page-break-after: always;">

    <table border=0 cellpadding=0 cellspacing=0 width=765 style='border-collapse:
 collapse;table-layout:fixed;width:574pt;margin-left: 40px'>
      <colgroup width=85 span=2 style='mso-width-source:userset;mso-width-alt:2730;
 width:64pt'></colgroup>
      <colgroup width=97 style='mso-width-source:userset;mso-width-alt:3114;width:73pt'></colgroup>
      <colgroup width=64 style='mso-width-source:userset;mso-width-alt:2048;width:48pt'></colgroup>
      <colgroup width=64 style='mso-width-source:userset;mso-width-alt:2048;width:48pt'></colgroup>
      <colgroup width=147 style='mso-width-source:userset;mso-width-alt:4693;width:110pt'></colgroup>
      <colgroup width=71 style='width:53pt'></colgroup>
      <colgroup width=152 style='mso-width-source:userset;mso-width-alt:4864;width:114pt'></colgroup>
      <tr height=21 style='mso-height-source:userset;height:16.5pt'>
        <td height=21 class=xl65 width=85 style='height:16.5pt;width:64pt'>表C-05</td>
        <td width=85 style='width:64pt'></td>
        <td width=97 style='width:73pt'></td>
        <td width=64 style='width:48pt'></td>
        <td width=64 style='width:48pt'></td>
        <td width=147 style='width:110pt'></td>
        <td width=71 style='width:53pt'></td>
        <td width=152 style='width:114pt'></td>
      </tr>
      <tr height=15 style='mso-height-source:userset;height:11.25pt'>
        <td height=15 class=xl67 style='height:11.25pt'></td>
        <td class=xl67></td>
        <td class=xl70>外购</td>
        <td colspan=4 rowspan=2 class=xl97>件验收入库通知单</td>
        <td class=xl67></td>
      </tr>
      <tr height=19 style='mso-height-source:userset;height:14.25pt'>
        <td height=19 class=xl66 style='height:14.25pt'></td>
        <td></td>
        <td class=xl70>外协</td>
        <td></td>
      </tr>
      <tr height=27 style='height:20.0pt'>
        <td height=27 class=xl66 style='height:20.0pt'></td>
        <td></td>
        <td></td>
        <td class=xl68></td>
        <td class=xl68></td>
        <td class=xl69></td>
        <td class=xl69></td>
        <td></td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td height=40 class=xl73 width=85 style='height:30.0pt;width:64pt'>名称</td>
        <td colspan=2 class=xl99 width=182 style='border-left:none;width:137pt'>{{item.matlname}}</td>
        <td class=xl74 width=64 style='border-left:none;width:48pt'>型号</td>
        <td colspan=2 class=xl88 width=211 style='border-right:.5pt solid black;
  border-left:none;width:158pt'>{{type == 4 ? item.dimension : item.spec}}</td>
        <td class=xl74 width=71 style='border-left:none;width:53pt'>规格</td>
        <td class=xl71 width=152 style='border-left:none;width:114pt'></td>
      </tr>
      <tr height=27 style='mso-height-source:userset;height:20.25pt'>
        <td rowspan=2 height=50 class=xl87 width=85 style='height:37.5pt;border-top:
  none;width:64pt'>数量</td>
        <td rowspan=2 class=xl78 width=85 style='border-bottom:.5pt solid black;
  border-top:none;width:64pt'>{{item.qty}}{{item.unit}}</td>
        <td class=xl78 width=97 style='border-top:none;border-left:none;width:73pt'>生产</td>
        <td colspan=3 rowspan=2 class=xl90 width=275 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black;width:206pt'>{{item.millunit}}</td>
        <td class=xl78 width=71 style='border-top:none;border-left:none;width:53pt'>入库</td>
        <td rowspan=2 class=xl98 width=152 style='border-top:none;width:114pt'>{{item.codedmarking}}</td>
      </tr>
      <tr height=23 style='mso-height-source:userset;height:17.25pt'>
        <td height=23 class=xl81 width=97 style='height:17.25pt;border-left:none;
  width:73pt'>厂家</td>
        <td class=xl81 width=71 style='border-left:none;width:53pt'>编号</td>
      </tr>
      <tr height=23 style='mso-height-source:userset;height:17.25pt'>
        <td height=23 class=xl80 width=85 style='height:17.25pt;border-top:none;
  width:64pt'>供货</td>
        <td colspan=2 rowspan=2 class=xl79 width=182 style='width:137pt'>{{item.supplier}}</td>
        <td class=xl78 width=64 style='border-top:none;border-left:none;width:48pt'>出厂</td>
        <td colspan=2 rowspan=2 class=xl90 width=211 style='border-right:.5pt solid black;
  border-bottom:.5pt solid black;width:158pt'>{{showDate(item.indate)}}</td>
        <td rowspan=2 class=xl75 width=71 style='border-top:none;width:53pt'>标准</td>
        <td rowspan=2 class=xl98 width=152 style='border-top:none;width:114pt'>{{item.modelstand+"/"}}{{item.matlstand}}</td>
      </tr>
      <tr height=24 style='mso-height-source:userset;height:18.0pt'>
        <td height=24 class=xl72 width=85 style='height:18.0pt;width:64pt'>单位</td>
        <td class=xl81 width=64 style='border-left:none;width:48pt'>日期</td>
      </tr>
      <tr height=19 style='mso-height-source:userset;height:14.25pt'>
        <td height=19 class=xl80 width=85 style='height:14.25pt;border-top:none;
  width:64pt'>其它</td>
        <td colspan=5 rowspan=2 class=xl79 width=457 style='width:343pt'>{{item.designation}}</td>
        <td class=xl78 width=71 style='border-top:none;border-left:none;width:53pt'>质证</td>
        <td rowspan=2 class=xl98 width=152 style='border-top:none;width:114pt'>{{item.warrantyno}}</td>
      </tr>
      <tr height=24 style='mso-height-source:userset;height:18.0pt'>
        <td height=24 class=xl72 width=85 style='height:18.0pt;width:64pt'>参数</td>
        <td class=xl81 width=71 style='border-left:none;width:53pt'>书号</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td rowspan=19 height=533 class=xl109 width=85 style='border-bottom:.5pt solid black;
  height:400.0pt;border-top:none;width:64pt'>检<br>验<br>项<br>目<br>及<br>结<br>果</td>
        <td colspan=2 class=xl79 width=182 style='border-left:none;width:137pt'>质证书审查</td>
        <td colspan=5 class=xl79 width=498 style='border-right:1.0pt solid black;
  border-left:none;width:373pt'>内容清晰齐全，化学成份、力学符合要求</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td colspan=2 height=40 class=xl79 width=182 style='height:30.0pt;border-left:
  none;width:137pt'>标记铭牌复核</td>
        <td colspan=5 class=xl79 width=498 style='border-right:1.0pt solid black;
  border-left:none;width:373pt'>标记清晰，内容同质保书一致</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td colspan=2 height=40 class=xl79 width=182 style='height:30.0pt;border-left:
  none;width:137pt'>外观质量</td>
        <td colspan=5 class=xl79 width=498 style='border-right:1.0pt solid black;
  border-left:none;width:373pt'>合格</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td colspan=2 height=40 class=xl79 width=182 style='height:30.0pt;border-left:
  none;width:137pt'>主要尺寸、参数</td>
        <td colspan=5 class=xl79 width=498 style='border-right:1.0pt solid black;
  border-left:none;width:373pt'>符合标准要求</td>
      </tr>
      <tr height=33 style='mso-height-source:userset;height:25.0pt'>
        <td rowspan=4 height=153 class=xl100 width=85 style='border-bottom:.5pt solid black;
  height:115.0pt;border-top:none;width:64pt'>其<br>它<br>检<br>验</td>
        <td class=xl75 width=97 style='border-top:none;border-left:none;width:73pt'>项目</td>
        <td colspan=3 class=xl75 width=275 style='border-left:none;width:206pt'>检查结果</td>
        <td colspan=2 class=xl75 width=223 style='border-right:1.0pt solid black;
  border-left:none;width:167pt'>检验编号</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td height=40 class=xl79 width=97 style='height:30.0pt;border-top:none;
  border-left:none;width:73pt'>　</td>
        <td colspan=3 class=xl79 width=275 style='border-left:none;width:206pt'>　</td>
        <td colspan=2 class=xl79 width=223 style='border-right:1.0pt solid black;
  border-left:none;width:167pt'>　</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td height=40 class=xl79 width=97 style='height:30.0pt;border-top:none;
  border-left:none;width:73pt'>　</td>
        <td colspan=3 class=xl79 width=275 style='border-left:none;width:206pt'>　</td>
        <td colspan=2 class=xl79 width=223 style='border-right:1.0pt solid black;
  border-left:none;width:167pt'>　</td>
      </tr>
      <tr height=40 style='mso-height-source:userset;height:30.0pt'>
        <td height=40 class=xl79 width=97 style='height:30.0pt;border-top:none;
  border-left:none;width:73pt'>　</td>
        <td colspan=3 class=xl79 width=275 style='border-left:none;width:206pt'>　</td>
        <td colspan=2 class=xl79 width=223 style='border-right:1.0pt solid black;
  border-left:none;width:167pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td rowspan=11 height=220 class=xl100 width=85 style='border-bottom:.5pt solid black;
  height:165.0pt;border-top:none;width:64pt'>存<br>在<br>问<br>题<br>及<br>处<br>理</td>
        <td colspan=6 rowspan=11 class=xl79 width=595 style='border-right:1.0pt solid black;
  width:446pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=17 style='mso-height-source:userset;height:13.5pt'>
        <td rowspan=8 height=183 class=xl80 width=85 style='border-bottom:1.0pt solid black;
  height:139.5pt;border-top:none;width:64pt'>结论</td>
        <td colspan=7 class=xl105 width=680 style='border-right:1.0pt solid black;
  border-left:none;width:510pt'>　</td>
      </tr>
      <tr height=33 style='mso-height-source:userset;height:25.5pt'>
        <td colspan=7 height=33 class=xl108 width=680 style='border-right:1.0pt solid black;
  height:25.5pt;border-left:none;width:510pt'>经检验该符合<span
          style='mso-spacerun:yes'>{{item.modelstand+"/"}}{{item.matlstand}}
  </span>标准，验收合格，同意入库。</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=7 height=20 class=xl108 width=680 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:510pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=7 height=20 class=xl108 width=680 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:510pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td height=20 class=xl76 width=85 style='height:15.0pt;width:64pt'></td>
        <td class=xl76 width=97 style='width:73pt'></td>
        <td class=xl76 width=64 style='width:48pt'></td>
        <td class=xl76 width=64 style='width:48pt'></td>
        <td class=xl76 width=147 style='width:110pt'></td>
        <td class=xl76 width=71 style='width:53pt'></td>
        <td class=xl77 width=152 style='width:114pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td height=20 class=xl76 width=85 style='height:15.0pt;width:64pt'></td>
        <td class=xl76 width=97 style='width:73pt'></td>
        <td class=xl76 width=64 style='width:48pt'></td>
        <td class=xl76 width=64 style='width:48pt'></td>
        <td class=xl76 width=147 style='width:110pt'></td>
        <td class=xl76 width=71 style='width:53pt'></td>
        <td class=xl77 width=152 style='width:114pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=7 height=20 class=xl108 width=680 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:510pt'>　</td>
      </tr>
      <tr height=33 style='mso-height-source:userset;height:25.5pt'>
        <td height=33 class=xl82 width=85 style='height:25.5pt;border-left:none;
  width:64pt'>检验员：</td>
        <td class=xl83 width=97 style='width:73pt'><img width="70px" *ngIf="item.usersign!=null" src="{{item.usersign}}"></td>
        <td colspan=2 class=xl84>材料责任人：</td>
        <td class=xl84><img width="70px" ng-if="item.audit_usersign!=null" src="{{item.audit_usersign}}"></td>
        <td class=xl85>日期：{{showDate(item.indate)}}</td>
        <td class=xl86>　</td>
      </tr>
    </table>
    <div style="page-break-after: always;"></div>
  </div>
</div>


<div  *ngIf="dataSet.length > 0 && mode == 3" #print3 style="width: 880px">
  <p style="margin-bottom: 20px;margin-top: 20px">
  <essence-ng2-print
    [mode]="'popup'"
    [printCSS]="printCSS"
    [popTitle]="'入库通知单'"
    [btnText]="'打印通知单'"
    [printHTML]="print3"
    [showBtn]="printBtnBoolean"
    [btnClass]="{'ant-btn':true}"
    (click)="beforePrint()"
    (printComplete)="printComplete()">
  </essence-ng2-print>
  <button
    nz-button
    nz-popover
    *ngIf="printBtnBoolean"
    nzType="primary"
    nzTitle="注意事项"
    nzContent="请在打印页面，点击更多设置-边距-最小值。"
    nzShape="circle"
    style="margin-left: 20px;margin-top: 4px">
    <i nz-icon type="question-circle" theme="outline"></i>
  </button>
  </p>
  <div *ngFor="let item of dataSet;let i = index" class="report3" style="padding-top: 63px;page-break-after: always;">
    <table border=0 cellpadding=0 cellspacing=0 width=721 style='border-collapse:
 collapse;table-layout:fixed;width:540pt;margin-left: 50px;font-size: 14px'>
      <colgroup width=71 style='width:53pt'></colgroup>
      <colgroup width=35 style='mso-width-source:userset;mso-width-alt:1109;width:26pt'></colgroup>
      <colgroup width=33 style='mso-width-source:userset;mso-width-alt:1066;width:25pt'></colgroup>
      <colgroup width=57 span=2 style='mso-width-source:userset;mso-width-alt:1834;
 width:43pt'></colgroup>
      <colgroup width=0 style='display:none;mso-width-source:userset;mso-width-alt:768'></colgroup>
      <colgroup width=44 style='mso-width-source:userset;mso-width-alt:1408;width:33pt'></colgroup>
      <colgroup width=71 style='width:53pt'></colgroup>
      <colgroup width=51 style='mso-width-source:userset;mso-width-alt:1621;width:38pt'></colgroup>
      <colgroup width=73 style='mso-width-source:userset;mso-width-alt:2346;width:55pt'></colgroup>
      <colgroup width=52 style='mso-width-source:userset;mso-width-alt:1664;width:39pt'></colgroup>
      <colgroup width=35 style='mso-width-source:userset;mso-width-alt:1109;width:26pt'></colgroup>
      <colgroup width=71 span=2 style='width:53pt'></colgroup>
      <tr height=20 style='height:15.0pt'>
        <td height=20 class=xl65 width=71 style='height:15.0pt;width:53pt'>表C-06</td>
        <td width=35 style='width:26pt'></td>
        <td width=33 style='width:25pt'></td>
        <td width=57 style='width:43pt'></td>
        <td width=57 style='width:43pt'></td>
        <td width=0></td>
        <td width=44 style='width:33pt'></td>
        <td width=71 style='width:53pt'></td>
        <td width=51 style='width:38pt'></td>
        <td width=73 style='width:55pt'></td>
        <td width=52 style='width:39pt'></td>
        <td width=35 style='width:26pt'></td>
        <td width=71 style='width:53pt'></td>
        <td width=71 style='width:53pt'></td>
      </tr>
      <tr height=32 style='height:24.0pt'>
        <td colspan=14 height=32 class=xl80 style='height:24.0pt'>焊材验收入库通知单</td>
      </tr>
      <tr height=21 style='height:16.0pt'>
        <td height=21 class=xl66 style='height:16.0pt'></td>
        <td colspan=11 style='mso-ignore:colspan'></td>
        <td>NO</td>
        <td></td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 height=48 class=xl72 width=106 style='height:36.0pt;width:79pt'>焊材名称</td>
        <td colspan=3 class=xl74 width=147 style='border-right:.5pt solid black;
  border-left:none;width:111pt;text-align: center'>{{item.matlname}}</td>
        <td colspan=3 class=xl79 width=115 style='border-left:none;width:86pt'>牌号</td>
        <td colspan=2 class=xl84 width=124 style='border-left:none;width:93pt;text-align: center'>{{item.designation}}</td>
        <td colspan=2 class=xl79 width=87 style='border-left:none;width:65pt'>入库编号</td>
        <td colspan=2 class=xl84 width=142 style='border-right:1.0pt solid black;
  border-left:none;width:106pt;text-align: center'>{{item.codedmarking}}</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 height=48 class=xl73 width=106 style='height:36.0pt;width:79pt'>规格</td>
        <td colspan=2 class=xl109 width=90 style='border-right:.5pt solid black;
  border-left:none;width:68pt;text-align: center'>{{item.spec}}</td>
        <td class=xl68 width=57 style='border-top:none;border-left:none;width:43pt'>生产<br>厂家</td>
        <td colspan=5 class=xl109 width=239 style='border-right:.5pt solid black;
  border-left:none;width:179pt;text-align: center'>{{item.millunit}}</td>
        <td colspan=2 class=xl68 width=87 style='border-left:none;width:65pt'>进厂日期</td>
        <td colspan=2 class=xl82 width=142 style='border-right:1.0pt solid black;
  border-left:none;width:106pt;text-align: center'>{{item.indate}}</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 height=48 class=xl73 width=106 style='height:36.0pt;width:79pt'>供货单位</td>
        <td colspan=6 class=xl109 width=262 style='border-right:.5pt solid black;
  border-left:none;width:197pt;text-align: center'>{{item.supplier}}</td>
        <td class=xl68 width=51 style='border-top:none;border-left:none;width:38pt'>数量</td>
        <td class=xl67 width=73 style='border-top:none;border-left:none;width:55pt;text-align: center'>{{item.qty}}{{item.unit}}</td>
        <td colspan=2 class=xl77 width=87 style='border-right:.5pt solid black;
  border-left:none;width:65pt'>出厂日期</td>
        <td colspan=2 class=xl82 width=142 style='border-right:1.0pt solid black;
  border-left:none;width:106pt;text-align: center'>　</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 height=48 class=xl73 width=106 style='height:36.0pt;width:79pt'>质证书号</td>
        <td colspan=3 class=xl82 width=147 style='border-left:none;width:111pt;text-align: center'>{{item.warrantyno}}</td>
        <td colspan=3 class=xl68 width=115 style='border-left:none;width:86pt'>批号</td>
        <td colspan=2 class=xl82 width=124 style='border-left:none;width:93pt;text-align: center'>{{item.heatbatchno}}</td>
        <td colspan=2 class=xl68 width=87 style='border-left:none;width:65pt'>焊材标准</td>
        <td colspan=2 class=xl82 width=142 style='border-right:1.0pt solid black;
  border-left:none;width:106pt;text-align: center'>{{item.matlstand}}</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td rowspan=14 height=588 class=xl102 width=71 style='height:441.0pt;
  border-top:none;width:53pt'>检<br>验<br>结<br>果</td>
        <td colspan=4 class=xl68 width=182 style='border-left:none;width:137pt;text-align: center'>质证书审查</td>
        <td colspan=9 class=xl82 width=468 style='border-right:1.0pt solid black;
  border-left:none;width:350pt;text-align: center'>内容清晰齐全，化学成份、力学符合要求</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=4 height=48 class=xl68 width=182 style='height:36.0pt;border-left:
  none;width:137pt'>标记复核</td>
        <td colspan=9 class=xl68 width=468 style='border-right:1.0pt solid black;
  border-left:none;width:350pt'>标记清晰，内容同质保书一致</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 rowspan=4 height=192 class=xl103 width=68 style='border-right:
  .5pt solid black;border-bottom:.5pt solid black;height:144.0pt;width:51pt'>焊<br>条</td>
        <td rowspan=2 class=xl68 width=57 style='border-top:none;width:43pt'>外观质量</td>
        <td colspan=3 class=xl68 width=101 style='border-left:none;width:76pt'>包装</td>
        <td colspan=2 class=xl68 width=122 style='border-left:none;width:91pt'>受潮情况</td>
        <td colspan=2 class=xl68 width=125 style='border-left:none;width:94pt'>药皮</td>
        <td colspan=2 class=xl68 width=106 style='border-left:none;width:79pt'>锈蚀情况</td>
        <td class=xl69 width=71 style='border-top:none;border-left:none;width:53pt'>偏心度</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=3 height=48 class=xl68 width=101 style='height:36.0pt;border-left:
  none;width:76pt'>{{hancaiData[item.matlname][0]}}</td>
        <td colspan=2 class=xl68 width=122 style='border-left:none;width:91pt'>{{hancaiData[item.matlname][1]}}</td>
        <td colspan=2 class=xl68 width=125 style='border-left:none;width:94pt'>{{hancaiData[item.matlname][2]}}</td>
        <td colspan=2 class=xl68 width=106 style='border-left:none;width:79pt'>{{hancaiData[item.matlname][3]}}</td>
        <td class=xl69 width=71 style='border-top:none;border-left:none;width:53pt'>{{hancaiData[item.matlname][4]}}</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td rowspan=2 height=96 class=xl68 width=57 style='height:72.0pt;border-top:
  none;width:43pt'>工艺<br>性能</td>
        <td colspan=7 class=xl68 width=348 style='border-left:none;width:261pt'></td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>工艺性能试验报告单号</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=7 height=48 class=xl68 width=348 style='height:36.0pt;border-left:
  none;width:261pt'>　</td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>　</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 rowspan=2 height=96 class=xl101 width=68 style='height:72.0pt;
  width:51pt'>焊<br>丝</td>
        <td colspan=3 class=xl68 width=114 style='border-left:none;width:86pt'>包装检查</td>
        <td colspan=5 class=xl68 width=291 style='border-left:none;width:218pt'>锈蚀情况</td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>直径实测尺寸</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=3 height=48 class=xl68 width=114 style='height:36.0pt;border-left:
  none;width:86pt'>{{hancaiData[item.matlname][5]}}</td>
        <td colspan=5 class=xl68 width=291 style='border-left:none;width:218pt'>{{hancaiData[item.matlname][6]}}</td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>{{hancaiData[item.matlname][7]}}</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=2 rowspan=2 height=96 class=xl101 width=68 style='height:72.0pt;
  width:51pt'>焊<br>剂</td>
        <td colspan=3 class=xl68 width=114 style='border-left:none;width:86pt'>包装检查</td>
        <td colspan=5 class=xl68 width=291 style='border-left:none;width:218pt'>受潮情况</td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>颗粒检查</td>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
        <td colspan=3 height=48 class=xl68 width=114 style='height:36.0pt;border-left:
  none;width:86pt'>{{hancaiData[item.matlname][8]}}</td>
        <td colspan=5 class=xl68 width=291 style='border-left:none;width:218pt'>{{hancaiData[item.matlname][9]}}</td>
        <td colspan=3 class=xl68 width=177 style='border-right:1.0pt solid black;
  border-left:none;width:132pt'>{{hancaiData[item.matlname][10]}}</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=13 rowspan=4 height=108 class=xl86 width=650 style='border-right:
  1.0pt solid black;border-bottom:.5pt solid black;height:81.0pt;width:487pt'><font
          class="font6">复检结果及报告编号：</font></td>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
      </tr>
      <tr height=48 style='mso-height-source:userset;height:36.0pt'>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td rowspan=7 height=142 class=xl95 width=71 style='border-bottom:1.0pt solid black;
  height:106.5pt;border-top:none;width:53pt'>结<br>论</td>
        <td colspan=13 class=xl97 width=650 style='border-right:1.0pt solid black;
  border-left:none;width:487pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=13 height=20 class=xl99 width=650 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:487pt'>经检验该焊材符合{{item.matlstand}}标准，验收合格，同意入库。</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=13 height=20 class=xl97 width=650 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:487pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=13 height=20 class=xl97 width=650 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:487pt'>　</td>
      </tr>
      <tr height=11 style='mso-height-source:userset;height:8.25pt'>
        <td colspan=13 height=11 class=xl97 width=650 style='border-right:1.0pt solid black;
  height:8.25pt;border-left:none;width:487pt'>　</td>
      </tr>
      <tr height=20 style='height:15.0pt'>
        <td colspan=13 height=20 class=xl97 width=650 style='border-right:1.0pt solid black;
  height:15.0pt;border-left:none;width:487pt'>　</td>
      </tr>
      <tr height=31 style='mso-height-source:userset;height:23.25pt'>
        <td colspan=2 height=31 class=xl112 width=68 style='height:23.25pt;
  border-left:none;width:51pt'>检验员：</td>
        <td colspan=2 class=xl85><img width="70px" *ngIf="item.usersign!=null" src="{{item.usersign}}"></td>
        <td colspan=3 class=xl85>材料责任人：</td>
        <td colspan=2 class=xl85><img width="70px" *ngIf="item.audit_usersign!=null" src="{{item.audit_usersign}}"></td>
        <td colspan=2 class=xl85>日期：</td>
        <td colspan=2 class=xl70>{{showDate(item.indate)}}</td>
      </tr>
    </table>
    <div style="page-break-after: always;"></div>
  </div>
</div>
