<div>
  <h3 class="title">系统信息设置</h3>
</div>
<nz-divider></nz-divider>
<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
  <nz-tab nzTitle="基本设置">

    <div nz-row style="padding-top: 8px;">
      <div nz-col nzSpan="4" nzOffset="4">
        <strong>LOGO：</strong>
      </div>
      <div nz-col nzSpan="16">
        <div class="clearfix editImg" *ngIf="editimg">
          <nz-upload class="avatar-uploader" nzName="avatar"
                     *ngIf="!avatarUrl"
                     nzListType="picture-card"
                     [(nzFileList)]="fileList"
                     [nzShowButton]="fileList.length < 1"
                     [nzFilter]="filters"
                     [nzBeforeUpload]="beforeUpload">
            <i nz-icon type="plus"></i>
            <div class="ant-upload-text">上传LOGO</div>
          </nz-upload>
          <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
          <button nz-button [nzType]="'primary'" [nzLoading]="uploading" (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px;margin-left:20px">
            {{ uploading ? '上传中' : '开始上传' }}
          </button>
          <button nz-button nzType="default" (click)="editimg = false" *ngIf="editimg" style="margin-left: 30px">取消</button>
        </div>

        <img src="{{imgURL}}" style="width:100px;" *ngIf="imgURL!=null && !editimg">
        <button nz-button nzType="primary" (click)="editimg = true" *ngIf="!editimg" style="margin-left: 30px">修改logo</button>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="制造单位设置">
    <form nzLayout='horizontal' nz-form [formGroup]="validateForm">
      <div nz-row [nzGutter]="16" nzType="flex">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="deconame">
              公司名称
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="deconame" id="deconame" placeholder="公司名称">
              <nz-form-explain *ngIf="validateForm.get('deconame').dirty && validateForm.get('deconame').errors">
                公司名称不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="edeconame">
              英文名称
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="edeconame" id="edeconame" placeholder="英文名称">
              <nz-form-explain *ngIf="validateForm.get('edeconame').dirty && validateForm.get('edeconame').errors">
                英文名称不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="delicense">
              制造许可证号
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="delicense" id="delicense" placeholder="制造许可证号">
              <nz-form-explain *ngIf="validateForm.get('delicense').dirty && validateForm.get('delicense').errors">
                制造许可证号不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="manulevel">
              制造许可级别
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="manulevel" id="manulevel" placeholder="制造许可级别">
              <nz-form-explain *ngIf="validateForm.get('manulevel').dirty && validateForm.get('manulevel').errors">
                制造许可级别不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="manulevel">
              有效期
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="time" id="time" placeholder="有效期" (blur)="formatDate(validateForm.controls['time'])">
              <nz-form-explain *ngIf="validateForm.get('time').dirty && validateForm.get('time').errors">
                有效期不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="orgcode">
              社会许可信用代码
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="orgcode" id="orgcode" placeholder="社会许可信用代码">
              <nz-form-explain *ngIf="validateForm.get('orgcode').dirty && validateForm.get('orgcode').errors">
                社会许可信用代码不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8" style="text-align:center;margin-top: 20px">
          <button nz-button nzType="primary" (click)="submitForm()">提交</button>
        </div>
      </div>
    </form>
  </nz-tab>
  <nz-tab nzTitle="监督单位设置">
    <form nzLayout='horizontal' nz-form [formGroup]="validateForm">
      <div nz-row [nzGutter]="16" nzType="flex">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="name">
              监督检验机构名称
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="name" id="name" placeholder="监督检验机构名称">
              <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">
                监督检验机构名称不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="ename">
              英文名称
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="ename" id="ename" placeholder="英文名称">
              <nz-form-explain *ngIf="validateForm.get('edeconame').dirty && validateForm.get('ename').errors">
                英文名称不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="8"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="uniformcode">
              统一社会信用代码
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="uniformcode" id="uniformcode" placeholder="统一社会信用代码">
              <nz-form-explain *ngIf="validateForm.get('uniformcode').dirty && validateForm.get('uniformcode').errors">
                统一社会信用代码不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="manuno">
              机构核准证号码
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="manuno" id="manuno" placeholder="机构核准证号码">
              <nz-form-explain *ngIf="validateForm.get('manuno').dirty && validateForm.get('manuno').errors">
                机构核准证号码不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8" style="text-align:center;margin-top: 20px">
          <button nz-button nzType="primary" (click)="submitForm()">提交</button>
        </div>
      </div>
    </form>
  </nz-tab>
  <nz-tab nzTitle="材料代码规则设置">
    <form nzLayout='horizontal' nz-form [formGroup]="matlcodeValidateForm">
      <div nz-row [nzGutter]="16" nzType="flex">
        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="index">
              材料代码为入库编号的第几位
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-input-number nz-input formControlName="index" id="index" nzPlaceHolder="请输入正确的位数"></nz-input-number>
              <nz-form-explain *ngIf="matlcodeValidateForm.get('index').dirty && matlcodeValidateForm.get('index').errors">
                必填项，不能为空！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="plank">
              代表板材所用的数字或英文字母
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="plank" id="plank" placeholder="请输入一位数字或字母">
              <nz-form-explain *ngIf="matlcodeValidateForm.get('plank').dirty && matlcodeValidateForm.get('plank').errors">
                请输入一位数字或字母！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="pipe">
              代表管件所用的数字或英文字母
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="pipe" id="pipe" placeholder="请输入一位数字或字母">
              <nz-form-explain *ngIf="matlcodeValidateForm.get('pipe').dirty && matlcodeValidateForm.get('pipe').errors">
                请输入一位数字或字母！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="flange">
              代表法兰所用的数字或英文字母
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="flange" id="flange" placeholder="请输入一位数字或字母">
              <nz-form-explain *ngIf="matlcodeValidateForm.get('flange').dirty && matlcodeValidateForm.get('flange').errors">
                请输入一位数字或字母！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="head">
              代表封头所用的数字或英文字母
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="head" id="head" placeholder="请输入一位数字或字母">
              <nz-form-explain *ngIf="matlcodeValidateForm.get('head').dirty && matlcodeValidateForm.get('head').errors">
                请输入一位数字或字母！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="welding">
              代表焊材所用的数字或英文字母
            </nz-form-label>
            <nz-form-control nzHasFeedback>
              <input nz-input formControlName="welding" id="welding" placeholder="请输入一位数字或字母">
              <nz-form-explain *ngIf="matlcodeValidateForm.get('welding').dirty && matlcodeValidateForm.get('welding').errors">
                请输入一位数字或字母！
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12"></div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="8" style="text-align:center;margin-top: 20px">
          <button nz-button nzType="primary" (click)="submitMatlCodeForm()">提交</button>
        </div>
      </div>
    </form>
  </nz-tab>
</nz-tabset>
