<form nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="6">
      <nz-form-item style="margin-bottom: 0;">
        <nz-form-label [nzSm]="10" nzFor="prodno">产品编号</nz-form-label>
        <nz-form-control [nzSm]="14" nzHasFeedback>
          <input nz-input placeHolder="产品编号"  formControlName="prodno" name="prodno" id="prodno" (ngModelChange)="checklink();getChannel()"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item style="margin-bottom: 0;">
        <nz-form-label [nzSm]="10" nzFor="dwgno">图号</nz-form-label>
        <nz-form-control [nzSm]="14">
          <nz-select formControlName="dwgno" name="dwgno" id="dwgno" nzPlaceHolder="图号" nzShowSearch nzAllowClear (ngModelChange)="checklink();getChannel()">
            <nz-option *ngFor="let o of this.dwgnos" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <button nz-button nzType="primary" *ngIf="link" (click)="linkProdnoandDwgno()">连接</button>
  </div>
</form>
<div *ngIf="!link">
  <nz-divider></nz-divider>
  <div *ngFor="let c of channel;let i = index">
    <nz-collapse [nzBordered]="false">
      <nz-collapse-panel [nzHeader]="'通道'+(i+1)" [nzActive]="i==0?true:false">
        <form nz-form [formGroup]="this.channelForms[i]">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzFor="ppart">试压部件</nz-form-label>
                <nz-form-control nzHasFeedback>
                  <input nz-input placeHolder="试压部件" formControlName="ppart" name="ppart" id="ppart" disabled/>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
              <nz-form-item>
                <nz-form-label nzFor="testmedia">试验介质</nz-form-label>
                <nz-form-control nzHasFeedback>
                  <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试验介质"  formControlName="testmedia" name="testmedia" id="testmedia">
                    <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
        <!--日期1-->
        <div nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated1'].status!=0">
          <div nz-col [nzSpan]="6">
            <form nz-form [formGroup]="this.channelForms[i]">
              <nz-form-item>
                <nz-form-label nzFor="dated1">开具日期1</nz-form-label>
                <nz-form-control nzHasFeedback>
                  <input nz-input formControlName="dated1" name="dated1" placeholder="格式：YYYY-MM-DD或MM-DD" type="text" id="dated1" [disabled]="dataModel[i]['dated1'].status==2" (blur)="formatInDate(this.channelForms[i].controls['dated1'])">
                </nz-form-control>
              </nz-form-item>
              <div nz-col [nzSpan]="6">
                <button nz-button nzType="primary">提交</button>
              </div>
            </form>
          </div>
        </div>
        <nz-collapse *ngIf="dataModel[i]['dated1'].status!=0">
          <nz-collapse-panel nzHeader="压力试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated1'].status!=0">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试验压力：</p>
                <nz-input-number style="width:100%" [(ngModel)]="dataModel[i].dated1.press.testpress" nzPlaceHolder="试验压力" [disabled]="dataModel[i]['dated1'].status==2"></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-input (change)="formateDate2(i,'dated1','press')" [(ngModel)]="dataModel[i].dated1.press.date" placeholder="日期" [disabled]="dataModel[i]['dated1'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated1.press.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated1'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated1.press.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated1'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated1.press.dewelltime" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated1.press.circutemp" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated1.press.mediatemp" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated1.press.testmedia" [nzDisabled]="dataModel[i]['dated1'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
          <nz-collapse-panel nzHeader="泄漏试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated1'].status!=0 && dataModel[i].leaktest">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">气密性试验压力：</p>
                <nz-input-number style="width:100%" nz-input [(ngModel)]="dataModel[i].dated1.leak.leaktestp" nzPlaceHolder="气密性试验压力" [disabled]="dataModel[i]['dated1'].status==2"></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-input (change)="formateDate2(i,'dated1','leak')" [(ngModel)]="dataModel[i].dated1.leak.date" placeholder="日期" [disabled]="dataModel[i]['dated1'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated1.leak.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated1'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated1.leak.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated1'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated1.leak.dewelltime" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated1.leak.circutemp" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated1.leak.mediatemp" [disabled]="dataModel[i]['dated1'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated1.leak.testmedia" [nzDisabled]="dataModel[i]['dated1'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>

        <!--日期1结束-->
        <!--日期2-->
        <div nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated2'].status!=0">
          <div nz-col [nzSpan]="6">
            <form nz-form [formGroup]="this.channelForms[i]">
              <nz-form-item>
                <nz-form-label nzFor="dated2">开具日期2</nz-form-label>
                <nz-form-control nzHasFeedback>
                  <input nz-input formControlName="dated2" name="dated2" placeholder="格式：YYYY-MM-DD或MM-DD" type="text" id="dated2" [disabled]="dataModel[i]['dated2'].status==2" (blur)="formatInDate(this.channelForms[i].controls['dated2'])">
                </nz-form-control>
              </nz-form-item>
              <button nz-button nzType="primary">提交</button>
            </form>
          </div>
        </div>
        <nz-collapse *ngIf="dataModel[i]['dated2'].status!=0">
          <nz-collapse-panel nzHeader="压力试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated2'].status!=0">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试验压力：</p>
                <nz-input-number style="width:100%" [(ngModel)]="dataModel[i].dated2.press.testpress" nzPlaceHolder="试验压力" [disabled]="dataModel[i]['dated2'].status==2" ></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-input (change)="formateDate2(i,'dated2','press')" [(ngModel)]="dataModel[i].dated2.press.date" placeholder="日期" [disabled]="dataModel[i]['dated2'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated2.press.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated2'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated2.press.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated2'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated2.press.dewelltime" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated2.press.circutemp" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated2.press.mediatemp" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated2.press.testmedia" [nzDisabled]="dataModel[i]['dated2'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
          <nz-collapse-panel nzHeader="泄漏试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated2'].status!=0">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">气密性试验压力：</p>
                <nz-input-number style="width:100%" nz-input [(ngModel)]="dataModel[i].dated2.leak.leaktestp" nzPlaceHolder="气密性试验压力" [disabled]="dataModel[i]['dated2'].status==2"></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-input [(ngModel)]="dataModel[i].dated2.leak.date" (change)="formateDate2(i,'dated2','leak')" placeholder="日期" [disabled]="dataModel[i]['dated2'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated2.leak.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated2'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated2.leak.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated2'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated2.leak.dewelltime" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated2.leak.circutemp" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated2.leak.mediatemp" [disabled]="dataModel[i]['dated2'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated2.leak.testmedia" [nzDisabled]="dataModel[i]['dated2'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        <!--日期2结束-->
        <!--日期3-->
        <div nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated3'].status!=0">
          <div nz-col [nzSpan]="6">
            <form nz-form [formGroup]="this.channelForms[i]">
              <nz-form-item>
                <nz-form-label nzFor="dated2">开具日期3</nz-form-label>
                <nz-form-control nzHasFeedback>
                  <input nz-input formControlName="dated3" name="dated3" placeholder="格式：YYYY-MM-DD或MM-DD" type="text" id="dated3" [disabled]="dataModel[i]['dated3'].status==3" (blur)="formatInDate(this.channelForms[i].controls['dated3'])">
                </nz-form-control>
              </nz-form-item>
              <button nz-button nzType="primary">提交</button>
            </form>
          </div>
        </div>
        <nz-collapse *ngIf="dataModel[i]['dated3'].status!=0">
          <nz-collapse-panel nzHeader="压力试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated3'].status!=0">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试验压力：</p>
                <nz-input-number style="width:100%" nz-input [(ngModel)]="dataModel[i].dated3.press.testpress" nzPlaceHolder="试验压力" [disabled]="dataModel[i]['dated3'].status==2" ></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-input (change)="formateDate2(i,'dated3','press')" [(ngModel)]="dataModel[i].dated3.press.date" placeholder="日期" [disabled]="dataModel[i]['dated3'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated3.press.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated3'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated3.press.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated3'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated3.press.dewelltime" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated3.press.circutemp" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated3.press.mediatemp" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated3.press.testmedia" [nzDisabled]="dataModel[i]['dated3'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
          <nz-collapse-panel nzHeader="泄漏试验参数" [nzActive]="true">
            <div style="width: 95%;margin-left: 2%;" nz-row [nzGutter]="16" *ngIf="dataModel[i]['dated3'].status!=0 && dataModel[i].leaktest">
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">气密性试验压力：</p>
                <nz-input-number style="width:100%" [(ngModel)]="dataModel[i].dated3.leak.leaktestp" nzPlaceHolder="气密性试验压力" [disabled]="dataModel[i]['dated3'].status==2" ></nz-input-number>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">日期：</p>
                <input nz-inpu (change)="formateDate2(i,'dated3','leak')"t [(ngModel)]="dataModel[i].dated3.leak.date" placeholder="日期" [disabled]="dataModel[i]['dated3'].status==2" type="text">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号1：</p>
                <nz-select [(ngModel)]="dataModel[i].dated3.leak.pgaugeno1" [nzPlaceHolder]="'压力表编号1'" [nzDisabled]="dataModel[i]['dated3'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">压力表编号2：</p>
                <nz-select [(ngModel)]="dataModel[i].dated3.leak.pgaugeno2" [nzPlaceHolder]="'压力表编号2'" [nzDisabled]="dataModel[i]['dated3'].status==2" style="width:100%;">
                  <nz-option *ngFor="let o of this.exitnos" [nzValue]="o" [nzLabel]="o"></nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">保压时间：</p>
                <input nz-input placeholder="保压时间" [(ngModel)]="dataModel[i].dated3.leak.dewelltime" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">环境温度：</p>
                <input nz-input placeholder="环境温度" [(ngModel)]="dataModel[i].dated3.leak.circutemp" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">介质温度：</p>
                <input nz-input placeholder="介质温度" [(ngModel)]="dataModel[i].dated3.leak.mediatemp" [disabled]="dataModel[i]['dated3'].status==2">
              </div>
              <div nz-col nzSpan="4" class="padding16">
                <p style="margin-top: 8px;margin-bottom: 14px">试压介质：</p>
                <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="试压介质"  [(ngModel)]="dataModel[i].dated3.leak.testmedia" [nzDisabled]="dataModel[i]['dated3'].status==2">
                  <nz-option *ngFor="let option of testmedias" [nzLabel]="option.name" [nzValue]="option.name"></nz-option>
                </nz-select>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
        <div style="text-align:center;margin-top: 20px">
          <button nz-button nzType="primary" (click)="submitForm(i)">提交</button>
        </div>
      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
