<div>
  <h3 class="title">材料入库登记</h3>
  <span style="float: right">
    <button class="tool-button" nz-button nzType="default" (click)="goTo('/material/warrantyAbsent')">质保书未到查询</button>
    <button class="tool-button" nz-button nzType="default" (click)="goTo('/material/singleWarrantyAbsent')">单项质保书未到查询</button>
    <button class="tool-button" nz-button nzType="default" (click)="goTo('/material/monthMaterial')">月材料查询</button>
  </span>
</div>
<nz-divider></nz-divider>
<form nzLayout='horizontal' nz-form [formGroup]="validateForm">
  <div nz-row [nzGutter]="16" nzType="flex">
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="codedmarking">
          入库编号
          <button nz-button nzType="primary" nzShape="circle" (click)="getInfoByCodedmarking($event)"><i nz-icon type="search"></i></button></nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="codedmarking" name="codedmarking" placeholder="入库编号" type="text" id="codedmarking">
          <nz-form-explain *ngIf="validateForm.get('codedmarking').dirty && validateForm.get('codedmarking').errors">
            入库编号不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="warrantysitu">质保书情况</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="warrantysitu" name="warrantysitu" id="warrantysitu" nzPlaceHolder="质保书情况" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of this.warrantysitu" [nzValue]="o.certsitu" [nzLabel]="o.certsitu"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="note">备注</nz-form-label>
        <nz-form-control nzHasFeedback>
          <div class="note-input">
            <input placeholder="备注" nz-input  formControlName="note" name="note" id="note" (input)="onNoteInput($event.target?.value)" (click)="onNoteInput($event.target?.value)" [nzAutocomplete]="noteauto">
            <nz-autocomplete nzBackfill #noteauto>
              <nz-auto-option *ngFor="let option of notes" [nzValue]="option">
                {{option}}
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="indate">入库日期</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="indate" name="indate" placeholder="YYYY-MM-DD" type="text" id="indate" (blur)="formatInDate()">
          <nz-form-explain *ngIf="validateForm.get('indate').dirty && validateForm.get('indate').errors">
            日期为必选项！(格式：YYYY-MM-DD或MM-DD)
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="matlname">材料名称</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="matlname" name="matlname" id="matlname" nzPlaceHolder="材料名称" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of this.matlname" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('matlname').dirty && validateForm.get('matlname').errors">
            材料名称不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="warrantyno">质保书号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <div class="warrantyno-input">
            <input placeholder="质保书号" nz-input  formControlName="warrantyno" name="warrantyno" id="warrantyno" (input)="onWarrantynoInput($event.target?.value)" (click)="onWarrantynoInput($event.target?.value)" [nzAutocomplete]="warrantynoauto">
            <nz-autocomplete nzBackfill #warrantynoauto>
              <nz-auto-option *ngFor="let option of warrantynos" [nzValue]="option">
                {{option}}
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="supplier">供货单位</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="supplier" name="supplier" id="supplier" nzPlaceHolder="供货单位" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of this.supplier" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="designation">牌号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="designation" name="designation" id="designation" nzPlaceHolder="牌号" nzShowSearch nzAllowClear  (ngModelChange)="getMatlstand()">
            <nz-option *ngFor="let o of this.designation" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('designation').dirty && validateForm.get('designation').errors">
            牌号不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="matlstand">材料标准</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="matlstand" name="matlstand" id="matlstand" nzPlaceHolder="请先选择牌号" nzShowSearch nzAllowClear (ngModelChange)="checkForContraststand()">
            <nz-option *ngFor="let o of this.matlstand" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('matlstand').dirty && validateForm.get('matlstand').errors">
            材料标准不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="spec">规格</nz-form-label>
        <nz-form-control nzHasFeedback>
          <div class="spec-input">
            <input placeholder="规格" nz-input  formControlName="spec" name="spec" id="spec" (input)="onSpecInput($event.target?.value)" (click)="onSpecInput($event.target?.value)" [nzAutocomplete]="specauto" (blur)="checkForContraststand()">
            <nz-autocomplete nzBackfill #specauto>
              <nz-auto-option *ngFor="let option of specs" [nzValue]="option">
                {{option}}
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="modelstand">型号标准</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="modelstand" name="modelstand" id="modelstand" nzPlaceHolder="型号标准" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of this.modelstand" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="qty">数量、单位</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-input-group nzCompact>
            <input nz-input formControlName="qty" name="qty" type="text" id="qty" style="width: 60%">
            <nz-select nzMode="default" formControlName="unit" name="unit" id="unit" nzShowSearch style="width: 40%">
              <nz-option *ngFor="let option of units" [nzLabel]="option" [nzValue]="option">
              </nz-option>
            </nz-select>
          </nz-input-group>
          <nz-form-explain *ngIf="validateForm.get('qty').dirty && validateForm.get('qty').errors">
            数量为必填项！
          </nz-form-explain>
          <nz-form-explain *ngIf="validateForm.get('unit').dirty && validateForm.get('unit').errors">
            单位不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="dimension">尺寸</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="dimension" name="dimension" type="text" placeholder="尺寸" id="dimension">
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="6">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="millunit">生产单位</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select nzMode="default" formControlName="millunit" name="millunit" id="millunit" nzShowSearch nzAllowClear nzPlaceHolder="生产单位">
            <nz-option *ngFor="let option of millunits" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
          <nz-form-explain *ngIf="validateForm.get('millunit').dirty && validateForm.get('millunit').errors">
            生产单位不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzRequired nzFor="heatbatchno">炉批号</nz-form-label>
        <nz-form-control nzHasFeedback>
          <input nz-input formControlName="heatbatchno" name="heatbatchno" type="text" placeholder="炉批号" id="heatbatchno">
          <nz-form-explain *ngIf="validateForm.get('heatbatchno').dirty && validateForm.get('heatbatchno').errors">
            炉批号不能为空！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="4">
      <nz-form-item>
        <nz-form-label nzFor="bendangle">弯曲角度</nz-form-label>
        <nz-form-control nzHasFeedback>
          <nz-select formControlName="bendangle" name="bendangle" id="bendangle" nzPlaceHolder="弯曲角度" nzShowSearch nzAllowClear>
            <nz-option *ngFor="let o of bendangles" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div *ngIf="dataDetail.status">
    <p style="margin-top: 5px;margin-bottom: 0"><strong>元素含量</strong></p>
    <div nz-row [nzGutter]="4" nzType="flex">
      <div nz-col nzSpan="3" *ngIf="dataDetail['c'].max!==null||dataDetail['c'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="c">C%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="c" name="c" id="c" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['c'].max == 99999 ? '≥' + dataDetail['c'].min : dataDetail['c'].min + '≤' + 'C%' + '≤' +dataDetail['c'].max" (ngModelChange)="MaxMinJudge('c')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('c').dirty&&validateForm.get('c').errors">
              <ng-container *ngIf="validateForm.get('c').hasError('required')">
                C%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('c').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['si'].max!==null||dataDetail['si'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="si">Si%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="si" name="si" id="si" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['si'].max == 99999 ? '≥' + dataDetail['si'].min : dataDetail['si'].min + '≤' + 'Si%' + '≤' +dataDetail['si'].max" (ngModelChange)="MaxMinJudge('si')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('si').dirty&&validateForm.get('si').errors">
              <ng-container *ngIf="validateForm.get('si').hasError('required')">
                Si%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('si').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['mn'].max!==null||dataDetail['mn'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="mn">Mn%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="mn" name="mn" id="mn" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['mn'].max == 99999 ? '≥' + dataDetail['mn'].min : dataDetail['mn'].min + '≤' + 'Mn%' + '≤' +dataDetail['mn'].max" (ngModelChange)="MaxMinJudge('mn')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('mn').dirty&&validateForm.get('mn').errors">
              <ng-container *ngIf="validateForm.get('mn').hasError('required')">
                Mn%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('mn').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['cu'].max!==null||dataDetail['cu'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cu">Cu%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="cu" name="cu" id="cu" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['cu'].max == 99999 ? '≥' + dataDetail['cu'].min : dataDetail['cu'].min + '≤' + 'Cu%' + '≤' +dataDetail['cu'].max" (ngModelChange)="MaxMinJudge('cu')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('cu').dirty&&validateForm.get('cu').errors">
              <ng-container *ngIf="validateForm.get('cu').hasError('required')">
                Cu%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('cu').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['ni'].max!==null||dataDetail['ni'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="ni">Ni%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="ni" name="ni" id="ni" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ni'].max == 99999 ? '≥' + dataDetail['ni'].min : dataDetail['ni'].min + '≤' + 'Ni%' + '≤' +dataDetail['ni'].max" (ngModelChange)="MaxMinJudge('ni')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('ni').dirty&&validateForm.get('ni').errors">
              <ng-container *ngIf="validateForm.get('ni').hasError('required')">
                Ni%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('ni').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['cr'].max!==null||dataDetail['cr'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="cr">Cr%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="cr" name="cr" id="cr" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['cr'].max == 99999 ? '≥' + dataDetail['cr'].min : dataDetail['cr'].min + '≤' + 'Cr%' + '≤' +dataDetail['cr'].max" (ngModelChange)="MaxMinJudge('cr')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('cr').dirty&&validateForm.get('cr').errors">
              <ng-container *ngIf="validateForm.get('cr').hasError('required')">
                Cr%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('cr').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['mo'].max!==null||dataDetail['mo'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="mo">Mo%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="mo" name="mo" id="mo" [nzStep]="0.001"[nzPlaceHolder]="dataDetail['mo'].max == 99999 ? '≥' + dataDetail['mo'].min : dataDetail['mo'].min + '≤' + 'Mo%' + '≤' +dataDetail['mo'].max" (ngModelChange)="MaxMinJudge('mo')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('mo').dirty&&validateForm.get('mo').errors">
              <ng-container *ngIf="validateForm.get('mo').hasError('required')">
                Mo%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('mo').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['nb'].max!==null||dataDetail['nb'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="nb">Nb%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="nb" name="nb" id="nb" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['nb'].max == 99999 ? '≥' + dataDetail['nb'].min : dataDetail['nb'].min + '≤' + 'Nb%' + '≤' +dataDetail['nb'].max" (ngModelChange)="MaxMinJudge('nb')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('nb').dirty&&validateForm.get('nb').errors">
              <ng-container *ngIf="validateForm.get('nb').hasError('required')">
                Nb%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('nb').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['v'].max!==null||dataDetail['v'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="v">V%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="v" name="v" id="v" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['v'].max == 99999 ? '≥' + dataDetail['v'].min : dataDetail['v'].min + '≤' + 'V%' + '≤' +dataDetail['v'].max" (ngModelChange)="MaxMinJudge('v')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('v').dirty&&validateForm.get('v').errors">
              <ng-container *ngIf="validateForm.get('v').hasError('required')">
                V%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('v').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['ti'].max!==null||dataDetail['ti'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="ti">Ti%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="ti" name="ti" id="ti" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ti'].max == 99999 ? '≥' + dataDetail['ti'].min : dataDetail['ti'].min + '≤' + 'Ti%' + '≤' +dataDetail['ti'].max" (ngModelChange)="MaxMinJudge('ti')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('ti').dirty&&validateForm.get('ti').errors">
              <ng-container *ngIf="validateForm.get('ti').hasError('required')">
                Ti%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('ti').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['als'].max!==null||dataDetail['als'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="als">ALs%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="als" name="als" id="als" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['als'].max == 99999 ? '≥' + dataDetail['als'].min : dataDetail['als'].min + '≤' + 'ALs%' + '≤' +dataDetail['als'].max" (ngModelChange)="MaxMinJudge('als')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('als').dirty&&validateForm.get('als').errors">
              <ng-container *ngIf="validateForm.get('als').hasError('required')">
                ALs%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('als').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['alt'].max!==null||dataDetail['alt'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="alt">ALt%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="alt" name="alt" id="alt" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['alt'].max == 99999 ? '≥' + dataDetail['alt'].min : dataDetail['alt'].min + '≤' + 'ALt%' + '≤' +dataDetail['alt'].max" (ngModelChange)="MaxMinJudge('alt')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('alt').dirty&&validateForm.get('alt').errors">
              <ng-container *ngIf="validateForm.get('alt').hasError('required')">
                ALt%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('alt').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['n'].max!==null||dataDetail['n'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="n">N%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="n" name="n" id="n" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['n'].max == 99999 ? '≥' + dataDetail['n'].min : dataDetail['n'].min + '≤' + 'N%' + '≤' +dataDetail['n'].max" (ngModelChange)="MaxMinJudge('n')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('n').dirty&&validateForm.get('n').errors">
              <ng-container *ngIf="validateForm.get('n').hasError('required')">
                N%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('n').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['fe'].max!==null||dataDetail['fe'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="fe">Fe%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="fe" name="fe" id="fe" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['fe'].max == 99999 ? '≥' + dataDetail['fe'].min : dataDetail['fe'].min + '≤' + 'Fe%' + '≤' +dataDetail['fe'].max" (ngModelChange)="MaxMinJudge('fe')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('fe').dirty&&validateForm.get('fe').errors">
              <ng-container *ngIf="validateForm.get('fe').hasError('required')">
                Fe%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('fe').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['mg'].max!==null||dataDetail['mg'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="mg">Mg%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="mg" name="mg" id="mg" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['mg'].max == 99999 ? '≥' + dataDetail['mg'].min : dataDetail['mg'].min + '≤' + 'Mg%' + '≤' +dataDetail['mg'].max" (ngModelChange)="MaxMinJudge('mg')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('mg').dirty&&validateForm.get('mg').errors">
              <ng-container *ngIf="validateForm.get('mg').hasError('required')">
                Mg%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('mg').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['zn'].max!==null||dataDetail['zn'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="zn">Zn%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="zn" name="zn" id="zn" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['zn'].max == 99999 ? '≥' + dataDetail['zn'].min : dataDetail['zn'].min + '≤' + 'Zn%' + '≤' +dataDetail['zn'].max" (ngModelChange)="MaxMinJudge('zn')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('zn').dirty&&validateForm.get('zn').errors">
              <ng-container *ngIf="validateForm.get('zn').hasError('required')">
                Zn%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('zn').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['b'].max!==null||dataDetail['b'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="b">B%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="b" name="b" id="b" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['b'].max == 99999 ? '≥' + dataDetail['b'].min : dataDetail['b'].min + '≤' + 'B%' + '≤' +dataDetail['b'].max" (ngModelChange)="MaxMinJudge('b')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('b').dirty&&validateForm.get('b').errors">
              <ng-container *ngIf="validateForm.get('b').hasError('required')">
                B%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('b').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['w'].max!==null||dataDetail['w'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="w">W%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="w" name="w" id="w" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['w'].max == 99999 ? '≥' + dataDetail['w'].min : dataDetail['w'].min + '≤' + 'W%' + '≤' +dataDetail['w'].max" (ngModelChange)="MaxMinJudge('w')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('w').dirty&&validateForm.get('w').errors">
              <ng-container *ngIf="validateForm.get('w').hasError('required')">
                W%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('w').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['sb'].max!==null||dataDetail['sb'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="sb">Sb%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="sb" name="sb" id="sb" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['sb'].max == 99999 ? '≥' + dataDetail['sb'].min : dataDetail['sb'].min + '≤' + 'Sb%' + '≤' +dataDetail['sb'].max" (ngModelChange)="MaxMinJudge('sb')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('sb').dirty&&validateForm.get('sb').errors">
              <ng-container *ngIf="validateForm.get('sb').hasError('required')">
                Sb%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('sb').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['al'].max!==null||dataDetail['al'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="al">Al%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="al" name="al" id="al" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['al'].max == 99999 ? '≥' + dataDetail['al'].min : dataDetail['al'].min + '≤' + 'Al%' + '≤' +dataDetail['al'].max" (ngModelChange)="MaxMinJudge('al')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('al').dirty&&validateForm.get('al').errors">
              <ng-container *ngIf="validateForm.get('al').hasError('required')">
                Al%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('al').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['zr'].max!==null||dataDetail['zr'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="zr">Zr%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="zr" name="zr" id="zr" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['zr'].max == 99999 ? '≥' + dataDetail['zr'].min : dataDetail['zr'].min + '≤' + 'Zr%' + '≤' +dataDetail['zr'].max" (ngModelChange)="MaxMinJudge('zr')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('zr').dirty&&validateForm.get('zr').errors">
              <ng-container *ngIf="validateForm.get('zr').hasError('required')">
                Zr%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('zr').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['ca'].max!==null||dataDetail['ca'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="ca">Ca%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="ca" name="ca" id="ca" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['ca'].max == 99999 ? '≥' + dataDetail['ca'].min : dataDetail['ca'].min + '≤' + 'Ca%' + '≤' +dataDetail['ca'].max" (ngModelChange)="MaxMinJudge('ca')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('ca').dirty&&validateForm.get('ca').errors">
              <ng-container *ngIf="validateForm.get('ca').hasError('required')">
                Ca%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('ca').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['be'].max!==null||dataDetail['be'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="be">Be%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="be" name="be" id="be" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['be'].max == 99999 ? '≥' + dataDetail['be'].min : dataDetail['be'].min + '≤' + 'Be%' + '≤' +dataDetail['be'].max" (ngModelChange)="MaxMinJudge('be')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('be').dirty&&validateForm.get('be').errors">
              <ng-container *ngIf="validateForm.get('be').hasError('required')">
                Be%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('be').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['p'].max!==null||dataDetail['p'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="p">P%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="p" name="p" id="p" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['p'].max == 99999 ? '≥' + dataDetail['p'].min : dataDetail['p'].min + '≤' + 'P%' + '≤' +dataDetail['p'].max" (ngModelChange)="MaxMinJudge('p')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('p').dirty&&validateForm.get('p').errors">
              <ng-container *ngIf="validateForm.get('p').hasError('required')">
                P%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('p').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['s'].max!==null||dataDetail['s'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="s">S%</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="s" name="s" id="s" [nzStep]="0.001" [nzPlaceHolder]="dataDetail['s'].max == 99999 ? '≥' + dataDetail['s'].min : dataDetail['s'].min + '≤' + 'S%' + '≤' +dataDetail['s'].max" (ngModelChange)="MaxMinJudge('s')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('s').dirty&&validateForm.get('s').errors">
              <ng-container *ngIf="validateForm.get('s').hasError('required')">
                S%不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('s').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <p style="margin-top: 5px;margin-bottom: 0"><strong>力学成分</strong></p>
    <div nz-row [nzGutter]="4" nzType="flex">
      <div nz-col nzSpan="3" *ngIf="dataDetail['rel1'].max!==null||dataDetail['rel1'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="rel1">屈服强度1</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="rel1" name="rel1" id="rel1" [nzStep]="1" [nzPlaceHolder]="dataDetail['rel1'].max == 99999 ? '≥' + dataDetail['rel1'].min : dataDetail['rel1'].min + '≤' + 'rel1' + '≤' +dataDetail['rel1'].max" (ngModelChange)="MaxMinJudge('rel1')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('rel1').dirty&&validateForm.get('rel1').errors">
              <ng-container *ngIf="validateForm.get('rel1').hasError('required')">
                屈服强度1不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('rel1').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['rel2'].max!==null||dataDetail['rel2'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="rel2"> </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="rel2" name="rel2" id="rel2" [nzStep]="1" [nzPlaceHolder]="dataDetail['rel2'].max == 99999 ? '≥' + dataDetail['rel2'].min : dataDetail['rel2'].min + '≤' + 'rel2' + '≤' +dataDetail['rel2'].max" (ngModelChange)="MaxMinJudge('rel2')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('rel2').dirty&&validateForm.get('rel2').errors">
              <ng-container *ngIf="validateForm.get('rel2').hasError('required')">
                屈服强度2不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('rel2').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['rm1'].max!==null||dataDetail['rm1'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="rm1">抗拉强度1</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="rm1" name="rm1" id="rm1" [nzStep]="1" [nzPlaceHolder]="dataDetail['rm1'].max == 99999 ? '≥' + dataDetail['rm1'].min : dataDetail['rm1'].min + '≤' + 'rm1' + '≤' +dataDetail['rm1'].max" (ngModelChange)="MaxMinJudge('rm1')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('rm1').dirty&&validateForm.get('rm1').errors">
              <ng-container *ngIf="validateForm.get('rm1').hasError('required')">
                抗拉强度1不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('rm1').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['rm2'].max!==null||dataDetail['rm2'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="rm2"> </nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="rm2" name="rm2" id="rm2" [nzStep]="1" [nzPlaceHolder]="dataDetail['rm2'].max == 99999 ? '≥' + dataDetail['rm2'].min : dataDetail['rm2'].min + '≤' + 'rm2' + '≤' +dataDetail['rm2'].max" (ngModelChange)="MaxMinJudge('rm2')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('rm2').dirty&&validateForm.get('rm2').errors">
              <ng-container *ngIf="validateForm.get('rm2').hasError('required')">
                抗拉强度2不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('rm2').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['elong1'].max!==null||dataDetail['elong1'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="elong1">延长率1</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="elong1" name="elong1" id="elong1" [nzStep]="0.1" [nzPlaceHolder]="dataDetail['elong1'].max == 99999 ? '≥' + dataDetail['elong1'].min : dataDetail['elong1'].min + '≤' + '延长率1' + '≤' +dataDetail['elong1'].max" (ngModelChange)="MaxMinJudge('elong1')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('elong1').dirty&&validateForm.get('elong1').errors">
              <ng-container *ngIf="validateForm.get('elong1').hasError('required')">
                延长率1不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('elong1').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['elong2'].max!==null||dataDetail['elong2'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="elong2">延长率2</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="elong2" name="elong2" id="elong2" [nzStep]="0.1" [nzPlaceHolder]="dataDetail['elong2'].max == 99999 ? '≥' + dataDetail['elong2'].min : dataDetail['elong2'].min + '≤' + '延长率2' + '≤' +dataDetail['elong2'].max" (ngModelChange)="MaxMinJudge('elong2')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('elong2').dirty&&validateForm.get('elong2').errors">
              <ng-container *ngIf="validateForm.get('elong2').hasError('required')">
                延长率2不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('elong2').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['hardness1'].max!==null||dataDetail['hardness1'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="hardness1">硬度(HRB)(d/d/d)</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input style="width: 100%" formControlName="hardness1" name="hardness1" id="hardness1" [placeholder]="dataDetail['hardness1'].max == 99999 ? '≥' + dataDetail['hardness1'].min : dataDetail['hardness1'].min + '≤' + 'HRB' + '≤' +dataDetail['hardness1'].max" (change)="changeHardness('hardness1')"/>
            <nz-form-explain *ngIf="validateForm.get('hardness1').dirty&&validateForm.get('hardness1').errors">
              <ng-container *ngIf="validateForm.get('hardness1').hasError('required')">
                硬度HRB不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness1').hasError('overflow')">
                输入值超出范围！
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness1').hasError('partern')">
                输入格式不正确(d/d/d)
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['hardness2'].max!==null||dataDetail['hardness2'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="hardness2">硬度(HRW)(d/d/d)</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input style="width: 100%" formControlName="hardness2" name="hardness2" id="hardness2" [placeholder]="dataDetail['hardness2'].max == 99999 ? '≥' + dataDetail['hardness2'].min : dataDetail['hardness2'].min + '≤' + 'HRW' + '≤' +dataDetail['hardness2'].max" (change)="changeHardness('hardness2')"/>
            <nz-form-explain *ngIf="validateForm.get('hardness2').dirty&&validateForm.get('hardness2').errors">
              <ng-container *ngIf="validateForm.get('hardness2').hasError('required')">
                硬度(HRW)不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness2').hasError('overflow')">
                输入值超出范围！
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness2').hasError('partern')">
                输入格式不正确(d/d/d)
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['hardness3'].max!==null||dataDetail['hardness3'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="hardness3">硬度(HV)(d/d/d)</nz-form-label>
          <nz-form-control nzHasFeedback>
            <input nz-input style="width: 100%" formControlName="hardness3" name="hardness3" id="hardness3" [placeholder]="dataDetail['hardness3'].max == 99999 ? '≥' + dataDetail['hardness3'].min : dataDetail['hardness3'].min + '≤' + 'HV' + '≤' +dataDetail['hardness3'].max" (change)="changeHardness('hardness3')"/>
            <nz-form-explain *ngIf="validateForm.get('hardness3').dirty&&validateForm.get('hardness3').errors">
              <ng-container *ngIf="validateForm.get('hardness3').hasError('required')">
                硬度(HV)不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness3').hasError('overflow')">
                输入值超出范围！
              </ng-container>
              <ng-container *ngIf="validateForm.get('hardness3').hasError('partern')">
                输入格式不正确(d/d/d)
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['impactp1'].max!==null||dataDetail['impactp1'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="impactp1">冲击功1</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="impactp1" name="impactp1" id="impactp1" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp1'].max == 99999 ? '≥' + dataDetail['impactp1'].min : dataDetail['impactp1'].min + '≤' + '冲击功1' + '≤' +dataDetail['impactp1'].max" (ngModelChange)="MaxMinJudge('impactp1')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('impactp1').dirty&&validateForm.get('impactp1').errors">
              <ng-container *ngIf="validateForm.get('impactp1').hasError('required')">
                冲击功1不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('impactp1').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['impactp2'].max!==null||dataDetail['impactp2'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="impactp2">冲击功2</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="impactp2" name="impactp2" id="impactp2" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp2'].max == 99999 ? '≥' + dataDetail['impactp2'].min : dataDetail['impactp2'].min + '≤' + '冲击功1' + '≤' +dataDetail['impactp2'].max" (ngModelChange)="MaxMinJudge('impactp2')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('impactp2').dirty&&validateForm.get('impactp2').errors">
              <ng-container *ngIf="validateForm.get('impactp2').hasError('required')">
                冲击功2不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('impactp2').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['impactp3'].max!==null||dataDetail['impactp3'].min!==null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="impactp3">冲击功3</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="impactp3" name="impactp3" id="impactp3" [nzStep]="1" [nzPlaceHolder]="dataDetail['impactp3'].max == 99999 ? '≥' + dataDetail['impactp3'].min : dataDetail['impactp3'].min + '≤' + '冲击功3' + '≤' +dataDetail['impactp3'].max" (ngModelChange)="MaxMinJudge('impactp3')"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('impactp3').dirty&&validateForm.get('impactp3').errors">
              <ng-container *ngIf="validateForm.get('impactp3').hasError('required')">
                冲击功3不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('impactp3').hasError('overflow')">
                输入值超出范围！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['heatcondi']!=null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="heatcondi">热处理状态</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select nzMode="default" formControlName="heatcondi" name="heatcondi" nzPlaceHolder="热处理状态" id="heatcondi" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let option of dataDetail['heatcondi'].split('、')" [nzLabel]="option" [nzValue]="option"></nz-option>
              <nz-option nzLabel="/" nzValue="/"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="validateForm.get('heatcondi').dirty && validateForm.get('heatcondi').errors">
              热处理状态不能为空！
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['impacttemp']!=null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="impacttemp">冲击温度(°C)</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" formControlName="impacttemp" name="impacttemp" id="impacttemp" [nzMax]="dataDetail['impacttemp']==null?99999:dataDetail['impacttemp']" [nzPlaceHolder]="'≤'+dataDetail['impacttemp']"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['bendaxdia']!=null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="bendaxdia">弯曲直径</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-input-number style="width: 100%" nzPlaceHolder="≤{{this.dataDetail.bendaxdia}}" formControlName="bendaxdia" name="bendaxdia" id="bendaxdia" nzAddOnAfter="a" [nzFormatter]="formatterA" [nzParser]="parserA" (ngModelChange)="judgeBendaxdia()"></nz-input-number>
            <nz-form-explain *ngIf="validateForm.get('bendaxdia').dirty&&validateForm.get('bendaxdia').errors">
              <ng-container *ngIf="validateForm.get('bendaxdia').hasError('required')">
                弯曲直径不能为空
              </ng-container>
              <ng-container *ngIf="validateForm.get('bendaxdia').hasError('overflow')">
                输入值应≤{{this.dataDetail.bendaxdia}}！
              </ng-container>
            </nz-form-explain>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="3" *ngIf="dataDetail['utclass']!=null">
        <nz-form-item>
          <nz-form-label nzRequired nzFor="utclass">UT级别</nz-form-label>
          <nz-form-control nzHasFeedback>
            <nz-select formControlName="utclass" name="utclass" id="utclass" nzPlaceHolder="UT级别" nzShowSearch nzAllowClear>
              <nz-option *ngFor="let o of utclasses" [nzValue]="o" [nzLabel]="o"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </div>
  <div nz-row>
      <span nz-col [nzSpan]="2">
        <button style="margin-left: 10px" nz-button [nzType]="'primary'" (click)="onSaveClick()">保存</button>
      </span>
    <span nz-col [nzSpan]="2">
        <button style="margin-left: 10px" nz-button [nzType]="'primary'" (click)="submitForm()">提交</button>
      </span>
    <span nz-col [nzSpan]="2">
        <button nz-button (click)="resetForm()">重置</button>
      </span>
  </div>
</form>
<div nz-row style="margin-top: 30px;margin-bottom: 30px">
  <button class="tool-button" nz-button nzType="default" (click)="createTplModal(millunitTitle, millunitContent, millunitFooter)">添加生产单位</button>
  <button class="tool-button" nz-button nzType="default" (click)="createTplModal(supplierTitle, supplierContent, supplierFooter)">添加供货单位</button>
  <button class="tool-button" nz-button nzType="default" (click)="createTplModal(matlnameTitle, matlnameContent, matlnameFooter)">添加材料名称</button>
  <button class="tool-button" nz-button nzType="default" (click)="createTplModal(modelstandTitle, modelstandContent, modelstandFooter)">添加型号标准</button>
  <button class="tool-button" nz-button nzType="default" (click)="createTplModal(millunitTitle, millunitContent, millunitFooter)">添加生产单位</button>
  <a class="tool-button" nz-button nzType="default" (click)="goTo('/material/warehousingQuery')">材料入库查询</a>
</div>
<div id="addMillunit">
  <form nz-form [formGroup]="millunitValidateForm">
    <ng-template #millunitTitle>
      <span>添加生产单位</span>
    </ng-template>
    <ng-template #millunitContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="millunit" nzRequired>生产单位</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="millunit" nz-input placeholder="生产单位名称">
          <nz-form-explain *ngIf="millunitValidateForm.get('millunit').dirty && millunitValidateForm.get('millunit').errors">生产单位名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="millunitename" nzRequired>英文名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="millunitename" nz-input placeholder="生产单位英文名称">
          <nz-form-explain *ngIf="millunitValidateForm.get('millunitename').dirty && millunitValidateForm.get('millunitename').errors">生产单位英文名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #millunitFooter>
      <button nz-button nzType="primary" (click)="submitInfo('millunit')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
<div id="addSupplier">
  <form nz-form [formGroup]="supplierValidateForm">
    <ng-template #supplierTitle>
      <span>添加供货单位</span>
    </ng-template>
    <ng-template #supplierContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="supplier" nzRequired>供货单位</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="supplier" nz-input placeholder="供货单位名称">
          <nz-form-explain *ngIf="supplierValidateForm.get('supplier').dirty && supplierValidateForm.get('supplier').errors">供货单位名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #supplierFooter>
      <button nz-button nzType="primary" (click)="submitInfo('supplier')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
<div id="addMatlname">
  <form nz-form [formGroup]="matlnameValidateForm">
    <ng-template #matlnameTitle>
      <span>添加材料名称</span>
    </ng-template>
    <ng-template #matlnameContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="matlname" nzRequired>材料名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="matlname" nz-input placeholder="材料名称">
          <nz-form-explain *ngIf="matlnameValidateForm.get('matlname').dirty && matlnameValidateForm.get('matlname').errors">材料名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #matlnameFooter>
      <button nz-button nzType="primary" (click)="submitInfo('matlname')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
<div id="addModelstand">
  <form nz-form [formGroup]="modelstandValidateForm">
    <ng-template #modelstandTitle>
      <span>添加型号标准</span>
    </ng-template>
    <ng-template #modelstandContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="modelstand" nzRequired>型号标准</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="modelstand" nz-input placeholder="型号标准">
          <nz-form-explain *ngIf="modelstandValidateForm.get('modelstand').dirty && modelstandValidateForm.get('modelstand').errors">型号标准不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #modelstandFooter>
      <button nz-button nzType="primary" (click)="submitInfo('modelstand')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
