<form nz-form [formGroup]="validateForm" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="prodno">产品编号</nz-form-label>
        <nz-form-control [nzSm]="14" nzHasFeedback>
          <nz-select nzShowSearch style="width: 100%" nzPlaceHolder="产品编号"  formControlName="prodno" name="prodno" id="prodno">
            <nz-option *ngFor="let option of prodnos" [nzLabel]="option" [nzValue]="option"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="prodname">产品名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input nz-input placeHolder="产品名称"  formControlName="prodname" name="prodname" id="prodname" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="dwgno">图号</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input nz-input placeHolder="图号"  formControlName="dwgno" name="dwgno" id="dwgno" disabled/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="8">
      <button nz-button [nzType]="'primary'" (click)="searchData()">确定</button>
    </div>
    <div nz-col [nzSpan]="8">
      <button class="tool-button" nz-button nzType="default" (click)="createTplModal(partsnameTitle, partsnameContent, partsnameFooter)">添加零件名称</button>
    </div>
  </div>
</form>
<div *ngIf="prodno">
  <nz-table
    #editRowTable
    nzBordered
    nzSize="middle"
    [nzTitle]="'安全泄放装置'"
    [nzData]="dataSet" nzShowQuickJumper nzShowSizeChanger nzShowTotal nzHideOnSinglePage>
    <thead>
    <tr>
      <th rowspan="2" style="min-width: 150px">零件名称</th>
      <th colspan="2">设计</th>
      <th colspan="2">代用</th>
      <th rowspan="2">代用材料类别</th>
      <th rowspan="2" style="min-width: 140px">操作</th>
    </tr>
    <tr>
      <th style="min-width: 150px">材料材质</th>
      <th>材料规格</th>
      <th style="min-width: 150px">材料材质</th>
      <th>材料规格</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of editRowTable.data">
      <td>
        <div class="editable-cell">
          <div class="editable-cell-text-wrapper">
            <ng-container *ngIf="!editCache[data.key].edit">
              {{data.name}}
            </ng-container>
            <ng-container *ngIf="editCache[data.key].edit">
              <nz-select style="width: 100%" [(ngModel)]="editCache[data.key].data.name" id="name" nzPlaceHolder="名称" nzShowSearch>
                <nz-option *ngFor="let o of this.partsname" [nzValue]="o" [nzLabel]="o"></nz-option>
              </nz-select>
            </ng-container>
          </div>
        </div>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.designmatl}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <nz-select style="width: 100%" [(ngModel)]="editCache[data.key].data.designmatl" id="designmatl" nzPlaceHolder="材质" nzShowSearch>
            <nz-option *ngFor="let o of this.designation" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.designspec}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.designspec" (input)="onSpecInput($event.target?.value)" (click)="onSpecInput($event.target?.value)" [nzAutocomplete]="specauto">
          <nz-autocomplete nzBackfill #specauto>
            <nz-auto-option *ngFor="let option of specs" [nzValue]="option">
              {{option}}
            </nz-auto-option>
          </nz-autocomplete>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.substitutematl}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <nz-select style="width: 100%" [(ngModel)]="editCache[data.key].data.substitutematl" id="substitutematl" nzPlaceHolder="材质" nzShowSearch>
            <nz-option *ngFor="let o of this.designation" [nzValue]="o" [nzLabel]="o"></nz-option>
          </nz-select>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.substitutespec}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <input type="text" nz-input [(ngModel)]="editCache[data.key].data.substitutespec" (input)="onSpecInput($event.target?.value)" (click)="onSpecInput($event.target?.value)" [nzAutocomplete]="specauto">
          <nz-autocomplete nzBackfill #specauto>
            <nz-auto-option *ngFor="let option of specs" [nzValue]="option">
              {{option}}
            </nz-auto-option>
          </nz-autocomplete>
        </ng-container>
      </td>
      <td>
        <ng-container *ngIf="!editCache[data.key].edit">
          {{data.type}}
        </ng-container>
        <ng-container *ngIf="editCache[data.key].edit">
          <nz-select style="width: 120px;" [(ngModel)]="editCache[data.key].data.type" nzAllowClear nzPlaceHolder="请选择代用材料类别">
            <nz-option nzValue="A" nzLabel="A"></nz-option>
            <nz-option nzValue="B" nzLabel="B"></nz-option>
            <nz-option nzValue="C" nzLabel="C"></nz-option>
          </nz-select>
        </ng-container>
      </td>
      <td>
        <div class="editable-row-operations">
          <ng-container *ngIf="!editCache[data.key].edit">
            <a (click)="startEdit(data.key)">修改</a>
            <nz-popconfirm [nzTitle]="'确认删除本行数据吗?'" (nzOnConfirm)="deleteRow(data.key)" style="margin-left: 10px;">
              <a nz-popconfirm>删除</a>
            </nz-popconfirm>
          </ng-container>
          <ng-container *ngIf="editCache[data.key].edit">
            <a (click)="saveEdit(data.key)">保存</a>
            <nz-popconfirm [nzTitle]="'确定要取消修改吗？'" (nzOnConfirm)="cancelEdit(data.key)" style="margin-left: 10px;">
              <a nz-popconfirm>取消</a>
            </nz-popconfirm>
          </ng-container>
        </div>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <button nz-button nzType="primary" (click)="addRow()" class="editable-add-btn" style="margin-top: 30px">添加一行</button>

  <div nz-row style="margin-top: 30px">
    <div nz-col nzSpan="2" style="text-align: right">代用原因：</div>
    <div nz-col nzSpan="8">
      <textarea rows="3" nz-input [(ngModel)]="why"></textarea>
    </div>
  </div>

  <div style="text-align: center">
    <button nz-button nzType="primary" (click)="putSubstitution()">提交代用申请</button>
  </div>
</div>

<div id="addPartsname">
  <form nz-form [formGroup]="partsnameValidateForm">
    <ng-template #partsnameTitle>
      <span>添加零件名称</span>
    </ng-template>
    <ng-template #partsnameContent>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="partsname" nzRequired>零件名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="partsname" nz-input placeholder="零件名称">
          <nz-form-explain *ngIf="partsnameValidateForm.get('partsname').dirty && partsnameValidateForm.get('partsname').errors">零件名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" nzFor="enpartsname" nzRequired>英文名称</nz-form-label>
        <nz-form-control [nzSm]="14">
          <input formControlName="enpartsname" nz-input placeholder="英文名称">
          <nz-form-explain *ngIf="partsnameValidateForm.get('enpartsname').dirty && partsnameValidateForm.get('enpartsname').errors">英文名称不能为空</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </ng-template>
    <ng-template #partsnameFooter>
      <button nz-button nzType="primary" (click)="submitInfo('partsname')" [nzLoading]="tplModalButtonLoading">提交</button>
    </ng-template>
  </form>
</div>
