<nz-layout>
  <nz-content style="margin:0 16px;">
    <nz-breadcrumb style="margin:16px 0;">
      <nz-breadcrumb-item>
        <a routerLink="/dashboard"><i nz-icon type="home" style="margin-right: 5px"></i><span>首页</span></a>
      </nz-breadcrumb-item>
      <ng-container *ngFor="let breadcrumb of breadcrumbs;">
        <nz-breadcrumb-item *ngIf="breadcrumb.url!=='/dashboard'">
          <ng-template *ngIf="index!==breadcrumbs.length-1">
            <a routerLink="{{breadcrumb.url}}" routerLinkActive="active">
              <i nz-icon type="{{breadcrumb.icon}}" theme="outline"></i>
              <span>{{ breadcrumb.label }}</span>
            </a>
          </ng-template>
          <span #elseBlock><i nz-icon type="{{breadcrumb.icon}}" theme="outline"></i><span>{{ breadcrumb.label }}</span></span>
        </nz-breadcrumb-item>
      </ng-container>
    </nz-breadcrumb>
  </nz-content>
</nz-layout>
