<nz-sider [nzWidth]="256" class="sider {{theme?'dark':'light'}}" style="height: 100%;">
  <div class="logo">
    <a href="/#/">
      <img src="/assets/logo.png" draggable="false">
      <h1>企业质量管理系统</h1>
    </a>
  </div>
  <ng-container *ngFor="let menus of menulist">
    <ul nz-menu [nzMode]="'inline'" [nzTheme]="theme?'dark':'light'" [nzInlineCollapsed]="settings.layout.isCollapsed"
        [nzMode]="settings.layout.isCollapsed?'vertical':'inline'"
        *ngIf="!!menulist && menus.name == (typeofNav()? menulist[0].name:getSettingNav())"
        style="height: calc(100% - 80px);overflow: auto;">
      <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: menus}"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus.data">
          <li nz-submenu [nzPaddingLeft]="24" *ngIf="menu.submenu && menuShowIfSubmenu(menu); else elseBlock" [(nzOpen)]="menuOpenMap[menu.name]" (nzOpenChange)="openHandler(menu.name)">
            <span title nzPlacement="right" [nzTitle]="menu.name" nz-tooltip [nzMouseEnterDelay]="1">
              <i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i>
              <span>{{ menu.name }}</span>
            </span>
            <ul>
              <ng-container *ngTemplateOutlet="menuTpl; context: {$implicit: menu.submenu}"></ng-container>
              <ng-container *ngFor="let submenu of menu.submenu">
                <li nz-menu-item [nzPaddingLeft]="48" routerLink="{{submenu.route}}" [nzSelected]="submenu.selected" *ngIf="showByRouter(submenu.route)">
                  <span title nzPlacement="right" [nzTitle]="submenu.name" nz-tooltip [nzMouseEnterDelay]="1" >
                    <i nz-icon [type]="submenu.icon" *ngIf="submenu.icon"></i>
                    <span>{{ submenu.name }}</span>
                  </span>
                </li>
              </ng-container>
            </ul>
          </li>
          <ng-template #elseBlock>
            <li nz-menu-item [nzPaddingLeft]="24" *ngIf="!menu.submenu && showByRouter(menu.route)" routerLink="{{menu.route}}" [nzSelected]="menu.selected">
            <span title nzPlacement="right" [nzTitle]="menu.name" nz-tooltip [nzMouseEnterDelay]="1">
              <i nz-icon [type]="menu.icon" *ngIf="menu.icon"></i>
              <span>{{ menu.name }}</span>
            </span>
            </li>
          </ng-template>
        </ng-container>
      </ng-template>
    </ul>
  </ng-container>
  <div class="switchtheme" *ngIf="!settings.layout.isCollapsed">
    <span><i nz-icon type="bulb" style="margin-right: 5px"></i>切换主题</span>
    <nz-switch [(ngModel)]="theme" (click)="switch()"  nzCheckedChildren="夜间" nzUnCheckedChildren="日间"></nz-switch>
  </div>
</nz-sider>
