@import "../../themes/index";

.sider {
  width: 224px;
  min-height: 500px;
  background: #001529;
  position: absolute;
  overflow: visible;
  padding-bottom: 24px;
  height: 100vh;
  transition: @transition-ease-out;
  box-shadow: @shadow-1;
  color: #999;
  &.dark{
    .logo h1{
      color: #fff;
    }
  }
  &.light {
    background: #fff;

    .switchtheme {
      background: #fff;
      border-top: solid 1px #f8f8f8;
    }
  }

  .logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    overflow: hidden;

    img {
      width: 40px;
      margin-right: 8px;
      transition: @transition-ease-out;
    }

    h1 {
      color: #000;
      display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      margin: 0 0 0 12px;
      font-family: Myriad Pro,Helvetica Neue,Arial,Helvetica,sans-serif;
      font-weight: 600;
    }

    .anticon {
      transition: @transition-ease-out;
    }
  }

  .switchtheme {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 48px;
    background-color: @dark-half;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px 0 24px;
    overflow: hidden;
    z-index: 1000;

    span {
      white-space: nowrap;
      overflow: hidden;
    }

    :global {
      .anticon {
        min-width: 14px;
        margin-right: 8px;
        font-size: 14px;
      }
    }
  }
}
