<div>
  <h3 class="title">质保书未到情况查询</h3>
  <span style="float: right">
    <button class="tool-button" nz-button nzType="default" (click)="download()">下载Excel表格</button>
  </span>
</div>
<nz-divider></nz-divider>
<div style="margin-top: 30px;">
  <nz-table
    #ajaxTable
    nzShowSizeChanger
    [nzFrontPagination]="false"
    [nzData]="dataSetDisplay"
    [nzLoading]="loading"
    [nzTotal]="total"
    [(nzPageIndex)]="pageindex"
    [(nzPageSize)]="pagesize"
    (nzPageIndexChange)="searchData()"
    (nzPageSizeChange)="searchData(true)">
    <thead>
    <tr>
      <th>材料名称</th>
      <th>入库编号</th>
      <th>牌号</th>
      <th>规格</th>
      <th>材料标准号</th>
      <th>供货单位</th>
      <th nzCustomFilter>
        炉批号
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown1>
          <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown1.nzVisible" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="搜索炉批号" [(ngModel)]="searchheatbatchno" class="searchInput">
            <button nz-button [nzType]="'primary'" (click)="searchHeatbatchno()">搜索</button>
            <button style="margin-left: 5px" nz-button [nzType]="'default'" (click)="this.searchheatbatchno = '';searchHeatbatchno()">重置</button>
          </div>
        </nz-dropdown>
      </th>
      <th nzCustomFilter>
        质保书号
        <nz-dropdown nzTrigger="click" [nzClickHide]="false" #dropdown2>
          <i nz-icon type="filter" theme="outline" class="ant-table-filter-icon" [class.ant-table-filter-open]="dropdown2.nzVisible" nz-dropdown></i>
          <div class="custom-filter-dropdown">
            <input type="text" nz-input placeholder="搜索质保书号" [(ngModel)]="searchwarrantyno" class="searchInput">
            <button nz-button [nzType]="'primary'" (click)="searchWarrantyno()">搜索</button>
            <button style="margin-left: 5px" nz-button [nzType]="'default'" (click)="this.searchwarrantyno = '';searchWarrantyno()">重置</button>
          </div>
        </nz-dropdown>
      </th>
      <th>数量</th>
      <th>备注</th>
      <th>入库日期</th>
    </tr>
    </thead>
    <tbody>
    <ng-template ngFor let-data [ngForOf]="ajaxTable.data">
      <tr>
        <td>{{data.matlname}}</td>
        <td>{{data.codedmarking}}</td>
        <td>{{data.designation}}</td>
        <td>{{data.spec}}</td>
        <td>{{data.matlstand}}</td>
        <td>{{data.supplier}}</td>
        <td>{{data.heatbatchno}}</td>
        <td>{{data.warrantyno}}</td>
        <td>{{data.qty}}</td>
        <td>{{data.note}}</td>
        <td>{{data.indate}}</td>
      </tr>
    </ng-template>
    </tbody>
  </nz-table>
</div>
